openapi: 3.0.3
servers:
  - url: https://api.exchange.bullish.com/trading-api
    description: PRODUCTION
  - url: https://registered.api.exchange.bullish.com/trading-api
    description: PRODUCTION
  - url: https://prod.access.bullish.com/trading-api
    description: PRODUCTION (Direct Connect)
  - url: https://api.bugbounty.bullish.com/trading-api
    description: SECURITY SANDBOX
  - url: https://api.simnext.bullish-test.com/trading-api
    description: API SANDBOX
  - url: https://registered.api.simnext.bullish-test.com/trading-api
    description: API SANDBOX
  - url: https://simnext.access.bullish.com/trading-api
    description: API SANDBOX (Direct Connect)
info:
  description: |
    # Overview

    Welcome to the _Bullish Trading API_ documentation!

    This documentation provides resource descriptions and endpoints usage instructions for the API.

    The API:
    - follows [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) conventions
    - has the base URL `api.exchange.bullish.com` (unless one of the sandbox environments is being used)
    - has endpoints under the below categories:
      - Authenticated endpoints for private client data e.g. [Get Orders](#get-/v2/orders) endpoint
      - Non-authenticated endpoints for public data e.g. [Get Markets](#get-/v1/markets) endpoint
    - uses bearer-based authentication
    - enforces a blanket rate limit across all requests
    - may add new fields to existing response payloads. Please do not use strict deserialisation as it may cause compatibility issues.
    
    # Additional Links
    
    - Code examples - [Bullish Github Repository](https://github.com/bullish-exchange)
    - Deprecated features & APIs - [Deprecated Features Documentation](.././deprecated/index.html)
    - Help center - [Bullish Help Center](https://support.bullish.com)
    - Comprehensive guide for new Institutional users - [Institutional User Guide](https://support.bullish.com/hc/en-us/articles/28811587741721-Comprehensive-New-User-Guide-for-Institutions#h_01HPQBYXD72K2M2CRSRXQ5YEWG)
    - Various order/custody status codes - [Error & Rejection Codes](https://github.com/bullish-exchange/api-docs/wiki/Error-&-Rejection-Codes)
    - Operational status of our exchange - [official status page](https://bullish.statuspage.io/)
    
    
    # Connectivity Options
    
    In GCP, generally our most optimal connection is to operate within asia-southeast1-a Availability Zone. 
    Please note, this may change at any given moment and without warning to another Availability Zone within asia-southeast1 for operational reasons. 
    For AWS or GCP connectivity details, please contact your sales representative

    # FIX API
    
    The FIX API is available to institutional clients and is only accessible through a AWS or GCP private connection:
    - AWS PrivateLink
      - It provides private connectivity between VPCs, AWS service without exposing your traffic to the public internet. 
      Bullish will provide the published service IDs for this service. You will be able to connect to our FIX service endpoint once the connection has been successfully established.
    - GCP Private Service Connect
      - It allows customers to access managed services privately from inside their VPC network.
      Bullish will provide the published service IDs for this service. You will be able to connect to our
      FIX service endpoint once the connection has been successfully established.
    
    
    For more details please refer to the full specification:
    - [Bullish FIX Protocol Specification](../../fix-api/Bullish%20FIX%20Protocol%20Specification%20v1.0.13.pdf)
    - [Bullish FIX Protocol Dictionary](../../fix-api/fix-dictionary.xml) 
    - [Bullish FIX CRT Certificate](../../fix-api/bullish.crt) 
    
    # Exchange Time

    All timestamps are specified in [EPOCH time](https://en.wikipedia.org/wiki/Unix_time).

    # Pagination Support

    If specified in the API documentation, an endpoint may return cursor paginated responses. Default page size is 25.

    There are 4 special query parameters used to control the pagination behaviour.
    - `_pageSize` can be one of `5, 25, 50, 100`, default value is `25`
    - `_metaData` can be false/true, if false the links are NOT part of the response. explicitly set `_metaData=true` to guarantee links are returned.
    - `_nextPage` cursor to the next page. It is provided in the paginated response when `_metaData=true`.
    - `_previousPage` cursor to the previous page. It is provided in the paginated response when `_metaData=true`.

    The paginated data is returned in the following wrapped format with generated links to the previous and next pages:
    ```json
    {
      "data": [
        {
          "averageFillPrice": null,
          "baseFee": "0.00000000",
          "createdAtDatetime": "2018-11-18T00:00:00.000Z",
          "createdAtTimestamp": "1639464207402",
          "handle": null,
          "margin": false,
          "orderId": "390755652232282113",
          "price": "8520.7000",
          "quantity": "1.00000000",
          "quantityFilled": "0.00000000",
          "quoteAmount": "0.0000",
          "quoteFee": "0.0003",
          "side": "BUY",
          "status": "OPEN",
          "statusReason": "Open",
          "statusReasonCode": "6001",
          "stopPrice": null,
          "symbol": "BTCUSD",
          "timeInForce": "GTC",
          "type": "LMT"
        },
        ...
      ],
      "links": {
        "next": "/trading-api/v1/orders?_pageSize=5&symbol=BTCUSD&_nextPage=Mjk3NzM1MzQ5NDI0NjIwMDMy",
        "previous": "/trading-api/v1/orders?_pageSize=5&symbol=BTCUSD&_previousPage=Mjk3NzM1Mzg3NzQ3OTc1Njgw"
      }
    }
    ```


    # Filtering Support
    
    - If specified in the API documentation, an endpoint may support filters on specific fields and values e.g. `GET /orders?status=OPEN`     
    - Only fields returned in an API response may be used as filter parameters. What you see is what you query on and by.
    - For the fields in the API response usable as filter parameters, please consult the API endpoint of interest.
    - Datetime and timestamp filters require additional keywords from this list - `[ gte, lte, gt, lt ]`. A few examples are provided below.
      - `/trading-api/v1/trades?createdAtTimestamp[gte]=1686447835000` queries for trades with `createdAtTimestamp` 
        greater than or equal to `1686447835000`.
      - `/trading-api/v1/trades?createdAtDatetime[gte]=2023-04-06T00:00:00.000Z&createdAtDatetime[lte]=2023-06-07T00:00:00.000Z` 
        queries for trades with `createdAtDatetime` greater than or equal to `2023-04-06T00:00:00.000Z` but less than or equal to `2023-06-07T00:00:00.000Z`
    - By design, pagination query parameters start with an underscore. This differentiates them from filter query parameters e.g. `GET /orders?status=OPEN&_pageSize=25`

    # Rate Limits
    
    ## Public Endpoints
    
    The below mentioned public endpoints will be rate limited. For more information please reach out to your Bullish customer support.
    
    - [/trading-api/v1/markets](#get-/v1/markets) and subpaths
    - [/trading-api/v1/market-data](#overview--multi-orderbook-websocket-unauthenticated) and subpaths
    - [/trading-api/v1/history/markets](#get-/v1/history/markets/-symbol-/trades) and subpaths
    - [/trading-api/v1/assets](#get-/v1/assets) and subpaths
    - [/trading-api/v1/index-prices](#get-/v1/index-prices) and subpaths
    - [/trading-api/v1/index-data](#overview--index-data-websocket-unauthenticated) and subpaths
    
    ## Private Endpoints
    
    API endpoints denoted by `Ratelimited: True` in the description are also subject to rate limits.
    e.g. [Create Order](#post-/v2/orders). The API endpoints fall under the below categories. The rate limit for each category is *independently* applied.
    
    - Unauthenticated endpoints, rate limited at 50 requests per second.
    - Authenticated `/orders` endpoints, rate limited at 50 requests per second.
    - Other Authenticated endpoints, rate limited at 50 requests per second.
    
    ### Rate Limits per IP address
    
    Each IP address is subject to a blanket rate limit of 500 requests per 10 seconds (approximately 50 requests per second).
    If an IP address is rate limited, the http response status code will be `429 Too Many Requests` and the IP address
    is blocked from making any requests for 60 seconds.

    ### Global Rate Limit
    
    The global rate limit is an additional rate limit specific to the exchange. It is used to help limit the flow of orders into the exchange. It affects all clients fairly. 
    When the global rate limit is breached the `x-ratelimit-global-breach` header value will be set to `true` else `false`.
    
    ### Rate Limits Info
    
    When rate limits are not exceeded, the http response header of the API endpoint called will contain the below:
    - `x-ratelimit-limit`: Maximum number of requests allowed for the specific API category within time period.
    - `x-ratelimit-remaining`: Remaining number of requests allowed for the specific API category within time period.
    - `x-ratelimit-reset`: The next time period in which `x-ratelimit-remaining` is reset back to the maximum allowed for the specific API category.
    - `x-ratelimit-global-breach`: true/false, indicating whether the global limit has been breached.

    ### Exceeding Rate Limits
    When rate limits are exceeded, the API endpoint will return the http response status code `429 Too Many Requests` and the http response body will be:
    ```json
      {
        "errorCode": 96000,
        "errorCodeName": "RATE_LIMIT_EXCEEDED",
        "message": "Rate limit exceeded"
      }
    ```

    ### Exceeding The Global Rate Limit
    When the global rate limit is exceeded, the API endpoint will return the http response status code `429 Too Many Requests` and the http response body will be:
    ```json
      {
        "errorCode": 96001,
        "errorCodeName": "GLOBAL_RATE_LIMIT_EXCEEDED",
        "message": "Global rate limit exceeded"
      }
    ```

    ### Increasing Rate Limits
    
    For more information on increasing your rate limits, please reach out to your sales representative.
    
    ### Obtaining Your Rate Limit Token
    
    Each trading account has a unique rate limit token that can be obtained by querying [Get Trading Accounts](#get-/v1/accounts/trading-accounts).
    The rate limit token must be provided in the HTTP request header `BX-RATELIMIT-TOKEN` to enjoy higher tiers of rate limits 
    else the default of 50 msgs/sec is applied.
    
    # Price And Quantity Precision
    
    A market consists of two assets, namely base asset and quote asset.
    For instance, the `BTCUSD` market has `BTC` as base asset and `USD` as quote asset.
    The price of a market is denominated in the quote asset, while the quantity is denominated in the base asset.
    For instance, the price in `BTCUSD` market is in `USD` while the quantity is in `BTC`. 
    Each asset has its own precision. For this, the below asset APIs can be queried.
    
    - The [Get Assets](#get-/v1/assets) API endpoint for all supported asset symbols
    - The [Get Asset By Symbol](#get-/v1/assets/-symbol-) API endpoint for a specific asset symbol
    
    The precision of an asset is the number of decimal places used to express its value in.
    For instance, the quantity in the market `BTCUSD` is in BTC. As BTC has a precision of 8, the quantity in `BTCUSD` has 8 decimal places.
    It follows that in order to express a quantity of 1 BTC in `BTCUSD` market, it has to be `1.00000000` BTC.
    
    Alternatively, the below market APIs can also be queried to obtain the price and quantity precisions for different markets.
    
    - The [Get Markets](#get-/v1/markets) API endpoint for all supported market symbols
    - The [Get Market By Symbol](#get-/v1/markets/-symbol-) API endpoint for a specific market symbol
    
    Following the logic outlined above, 
    - The precision for quantity is defined by the `basePrecision`
    - The precision for price is defined by `quotePrecision`


    # Numeric Identifier Contraints

    Numeric (i64) identifiers such as `nonce` and `handle` should not have leading zero's. For example `009990822212000000` is invalid but `9990822212000000` is valid.

    # Order timeInForce

    The order `timeInForce` can be set to the following values:
    - `GTC` - good until cancelled - the order is open forever unless fully filled or cancelled
    - `FOK` - fill or kill - if the order cannot immediately be filled in full it is cancelled
    - `IOC` - immediate or cancel - the order is immediately filled in full or in part and any remainder is cancelled
    
    # Error & Rejection Codes

    Details of `statusReasonCode` and `statusReason` can be referenced from [Error & Rejection Codes](https://github.com/bullish-exchange/api-docs/wiki/Error-&-Rejection-Codes) 

    # Authentication

    The API uses bearer based authentication. A JWT token is valid for 24 hours only. To generate a JWT token see - [Generate A JWT Token](#overview--generate-a-jwt-token)

    # How To Send Authenticated Requests

    To send an authenticated request, you must follow these steps:
    1. [Generate An API Key](#overview--generate-an-api-key)
    2. [Add Authenticated Request Header](#overview--add-authenticated-request-header)
    3. [Generate A JWT Token](#overview--generate-a-jwt-token)
    4. [Construct The BX-NONCE Header](#overview--construct-the-bx-nonce-header)
    5. [Construct The Command You Want To Send](#overview--construct-the-command-you-want-to-send)
    6. [Construct The BX-SIGNATURE Header](#overview--construct-the-bx-signature-header)
    7. [Fetch Trading Account Ids](#overview--fetch-trading-account-ids)
    8. [Send The HTTP Authenticated Request](#overview--send-the-http-authenticated-request)
    9. [How To Ensure The Order Of *Create Order* or *Cancel Order* Requests](#overview--how-to-ensure-the-order-of-create-order-or-cancel-order-requests)
    10. [How do EMS/Brokers Flag Their Executions Sent To Bullish](#overview--how-do-emsbrokers-flag-their-executions-sent-to-bullish)

    ## Generate An API Key

    A prerequisite to generate API keys is to have a Bullish account. To generate an API key follow these steps:

    1. Log in into your Bullish account
    2. Click on your account initials at the upper right corner and then click **Settings**
    3. Click **API Keys** and then click **Add API Key**
    4. Select the API Key type, either ECDSA or HMAC
    5. Enter a key name in the *Key Name* field
    6. Adding an IP whitelist is optional. Should an IP whitelist be added, login requests must be from within the IP whitelist range.
    7. Click *Generate API Key*
    
    ### HMAC API Key Notes
    
    - A HMAC API Key is a shared secret key that is used for HMAC based signing of trading API requests
    - Always store your HMAC secret in a secure medium as they are used to sign your requests. Do not share your HMAC secret in any publicly accessible areas such as code repositories, client side code, or other vulnerable areas and make sure the keys are not shipped with your mobile or web apps.
    - You do not need the `metadata` string to extract your `userId` like you would a Bullish API Key
    - HMAC API Keys can only be used for Trading on Bullish; the JWT generated using an HMAC API Key is only valid for trading endpoints.

    ### ECDSA API Key Notes

    - An ECDSA API key is a public/private key pair used for ECDSA based signing of trading and custody API requests
    - The private key is what you will use to sign your requests. Always store your private keys in a secure medium as they are used to sign your requests. Do not share your private keys in any publicly accessible areas such as code repositories, client side code, or other vulnerable areas and make sure the keys are not shipped with your mobile or web apps.
    - From here on the:
      - public key will be referred to as `PUBLIC_KEY`
      - private key will be referred to as `PRIVATE_KEY`
    - Key and signature format details:
      - Curve: ECDSA R1 (prime256v1/secp256r1/P-256)
      - Signature encoding: DER
      - Hashing Algorithm: SHA256
      - Key format: X.509 SubjectPublicKeyInfo format, PEM encoded

    An ECDSA API key additionally has a `metadata` string associated with it which is displayed along side the key.
    You must base64 decode the `metadata` to extract your `userId` (example follows). You will need the `userId` in the next step.
    
    ```shell
    echo eyJwdWJsaWNLZXkiOiJQVUJfUjFfNWNpVW52TW5rVThMOVBCWnZaa1BGcjhqdkRnUHpzcHhWNGlqOThIN1JqM1FSNzJyMkEiLCJhY2NvdW50SWQiOjIyMjAwMDAwMDAwMDAwNCwiY3JlZGVudGlhbElkIjoiMTAifQ== | base64 --decode
    {"publicKey":"PUB_R1_5ciUnvMnkU8L9PBZvZkPFr8jvDgPzspxV4ij98H7Rj3QR72r2A","userId":"12345","accountId":"12345","credentialId":"10"}
    ```

    ## Add Authenticated Request Header

    Each authenticated request must include a `Authorization` header:
      - `Authorization: Bearer <JWT_TOKEN>`

    The JWT is valid for 24 hours.

    ## Generate a JWT Token
    ### Bullish API Key
    #### **`Deprecated`** [[more info](.././deprecated/index.html#overview--bullish-key)]: *Existing Bullish API key will no longer be usable as of `28 June, 2024`*
    To generate/get a JWT token for a Bullish API Key you will need to perform the following request:

    #### POST /trading-api/v2/users/login

    - Body
      - `publicKey` - bullish account public key
      - `userId` - bullish user id corresponding to the metadata
      - `signature` - signed JSON string encoding of `loginPayload`, see the code sample for how to get it
      - `expirationTime` - epoch timestamp in seconds that is 5 minutes in the future
      - `nonce` - epoch timestamp in seconds; note this login API nonce has no connection to the orders API nonce
      - `biometricsUsed` - set to `false`
      - `sessionKey` - set to `null`

    ```json
    {
      "publicKey": "<PUBLIC_KEY>",
      "signature": "<SIGNATURE>",
      "loginPayload": {
        "userId": "100008771"
        "nonce": 1638776636,
        "expirationTime": 1638776936,
        "biometricsUsed": false,
        "sessionKey": null
      }
    }
    ```

    - Response

    ```json
    {
      "authorizer": "<AUTHORIZER>",
      "token": "<JWT_TOKEN>"
    }
    ```
    See [generate JWT](https://github.com/bullish-exchange/api-examples/blob/master/session) for sample Python scripts.
    
    ### HMAC API Key
    To generate/get a JWT token for a HMAC API Key you will need to perform the following request:
    
    #### GET /trading-api/v1/users/hmac/login
    
    - Response
    
    ```json
    {
      "authorizer": "<AUTHORIZER>",
      "token": "<JWT_TOKEN>"
    }
    ```
    
    You will need to provide a series of headers along with the request in order to successfully generate a JWT token.
    
    - `BX-TIMESTAMP` - number of milliseconds since EPOCH
    - `BX-NONCE` - client side incremented 64-bit unsigned integer
    - `BX-PUBLIC-KEY` - Public key for the HMAC Key being used to generate the JWT
    - `BX-SIGNATURE` - The signed message related to the login request. Outlined below
    
    To sign the login request for an HMAC API Key login we will need to construct a string that concatenates the following fields:
    - timestamp - value provided for the `BX-TIMESTAMP` header
    - nonce - value provided for the `BX-NONCE`
    - request method - `GET`
    - request path - `/trading-api/v1/users/hmac/login`
    
    See [generate JWT](https://github.com/bullish-exchange/api-examples/blob/master/session/generate_jwt_hmac.py) for a sample Python script.

    ### ECDSA API Key
    To generate/get a JWT token for a ECDSA API Key you will need to perform the following request:

    #### POST /trading-api/v2/users/login

    - Body
      - `publicKey` - ECDSA public key; new line characters should be UNIX encoded (\n, not \r\n or \r)
      - `userId` - bullish user id corresponding to the metadata
      - `signature` - signed JSON string encoding of `loginPayload`, see the code sample for how to get it
      - `expirationTime` - epoch timestamp in seconds that is 5 minutes in the future
      - `nonce` - epoch timestamp in seconds; note this login API nonce has no connection to the orders API nonce
      - `biometricsUsed` - set to `false`
      - `sessionKey` - set to `null`

    ```json
    {
      "publicKey": "<PUBLIC_KEY>",
      "signature": "<SIGNATURE>",
      "loginPayload": {
        "userId": "100008771"
        "nonce": 1638776636,
        "expirationTime": 1638776936,
        "biometricsUsed": false,
        "sessionKey": null
      }
    }
    ```

    - Response

    ```json
    {
      "authorizer": "<AUTHORIZER>",
      "token": "<JWT_TOKEN>"
    }
    ```
    See [generate JWT](https://github.com/bullish-exchange/api-examples/blob/master/session/generate_jwt_ecdsa.py) for a sample Python script.
    
    ## Logout using a JWT Token
    Users can better manage their sessions by logging out of unused sessions. This can be done by calling the `GET /trading-api/v1/users/logout` endpoint with the JWT Token in the header - see [Add Authenticated Request Header](#overview--add-authenticated-request-header).
    
    ## Construct The BX-NONCE Header

    The header `BX-NONCE` value is a unique client-side 64-bit unsigned integer. It has the following characteristics:

    - Each request the client sends how have incrementing `BX-NONCE` value
    - To prevent a client to send the max value of a 64-bit unsigned integer and thus immediately exhaust all unique nonces
    the exchange will only accept a nonce within a specified range
    - The lower and upper bounds of the current nonce range are specified by nonce endpoint e.g. `GET /nonce`
    - The nonce range is updated daily
    - The nonce `lowerBound` is the start of day EPOCH timestamp in micro seconds
    - The nonce `upperBound` is the end of day EPOCH timestamp in micro seconds

    ## Construct The Command You Want To Send

    Each authenticated request contains a `<COMMAND>` to be executed by the API.
    A `<COMMAND>` has the following properties:

      - A `<COMMAND>` is JSON encoded
      - Every field in the JSON payload must have a value. Use `null` to represent the absence of a value
      - The fields must be specified and encoded in the order presented in this documentation

    Find below two `<COMMAND>` examples:
    1. [Create Spot Order](#overview--create-spot-order-example)
    2. [Create Margin Order](#overview--create-margin-order-example)
    2. [Cancel Order](#overview--cancel-order-example)

    ### Create Spot Order Example

    To create a Spot buy limit order:
    - for the BTCUSD market
    - at a price of `55071.5000`
    - for a quantity of `1.87000000`
    - with a time-in-force of `GTC` (good till cancelled)

    The COMMAND would be constructed like below:

    ```json
    {
      "timestamp": "<TIMESTAMP>",
      "nonce": "<NONCE>",
      "authorizer": "<AUTHORIZER>",
      "command": {
        "commandType": "V2CreateOrder",
        "handle": null,
        "symbol": "BTCUSD",
        "type": "LMT",
        "side": "BUY",
        "price": "55071.5000",
        "stopPrice": null,
        "quantity": "1.87000000",
        "timeInForce": "GTC",
        "allowMargin": false,
        "tradingAccountId": "111234567890" 
      }
    }
    ```
    
    ### Create Margin Order Example
    
    With reference to the same payload in [Create Spot Order](#overview--create-spot-order-example), setting the field `allowMargin` to `true` will make it a margin order.
    
    Documentation is available [here](https://github.com/bullish-exchange/api-docs/blob/master/src/trading-api/next/websocket-private-data-update-messages-for-borrowers.pdf) on what happens in the event of liquidation.

    ### Cancel Order Example

    To cancel a buy limit order:
    - for the BTCUSD market
    - where the `orderId` is `390755251743358977`

    The COMMAND would be constructed like below:

    ```json
    {
      "timestamp": "<TIMESTAMP>",
      "nonce": "<NONCE>",
      "authorizer": "<AUTHORIZER>"
      "command": {
        "commandType": "V2CancelOrder",
        "orderId": "390755251743358977",
        "handle": null,
        "symbol": "BTCUSD",
        "tradingAccountId": "111234567890"
      }
    }
    ```
    ### Add Amm instruction 
    
    ```json
    {
      "timestamp": "1621490985000",
      "nonce": "123456789",
      "authorizer": "03E02367E8C900000500000000000000",
      "command": {
        "commandType": "V2AddLiquidity",
        "symbol": "BTCUSD",
        "baseQuantity": "0.00000000",
        "quoteQuantity": "0.00000000",
        "upperBound": "14000.0000",
        "lowerBound": "12000.0000",
        "feeTierId": "1",
        "tradingAccountId": "111234567890"
      }
    }
    ```
    ### Remove Amm instruction
    ```json
    {
      "timestamp": "<TIMESTAMP>",
      "nonce": "<NONCE>",
      "authorizer": "<AUTHORIZER>"
      "command": {
        "commandType": "V2RemoveLiquidity",
        "liquidityId": "557839859386417160",
        "symbol": "BTCUSD",
        "tradingAccountId": "111234567890"
      }
    }
    ```
    
    ### Command for Transfer Asset 
    `POST /trading-api/v1/command?commandType=V1TransferAsset`
    
    ```json
    {
      "timestamp": "<TIMESTAMP>",
      "nonce": "<NONCE>",
      "authorizer": "<AUTHORIZER>"
      "command": {
        "commandType": "V1TransferAsset",
        "assetSymbol": "USD",
        "quantity": "7.0000",
        "fromTradingAccountId": "11123456789",
        "toTradingAccountId": "11198765432"
      }
    }
    ```
    
    ## Construct The BX-SIGNATURE Header

    The following signing formats demonstrates how to obtain the `BX-SIGNATURE` header.

    ## Signing Format
    
    This signing format works with `/trading-api/v2/orders`, `/trading-api/v2/amm-instructions`, `/trading-api/v2/command` and [Custody](#tag--custody) APIs. 
    This signing format has the following benefits:
    - Null fields need not be included in the HTTP request body
    - Fields need not be strictly ordered in the HTTP request body
    
    Construct a string that concatenates the following fields:
    - timestamp - value provided for the `BX-TIMESTAMP` header
    - nonce - value provided for the `BX-NONCE`
    - request method - e.g. `POST`
    - request path - e.g. `/trading-api/v2/orders`
    - request JSON string, removing any spaces and newline characters.
    
    Note that the same request JSON string used in signing must be sent as the HTTP request body.
    
    #### How To Sign - ECDSA API Key
    
    1. Hash the above string using a SHA-256 hash function and sign the resulting hexdigest with your ECDSA `<PRIVATE_KEY>`.
    2. DER encode the signature, and base64 encode the DER encoded signature.  
    
    See [sign a request with ECDSA](https://github.com/bullish-exchange/api-examples/blob/master/orders/create_order_ecdsa.py) for a sample Python script.

    #### How To Sign - HMAC API Key

    1. Hash the above string using a SHA-256 hash function and take the hexdigest.
    2. Sign the hexdigest from step 2 with your HMAC Secret Key.  
    
    See [sign a request with HMAC](https://github.com/bullish-exchange/api-examples/blob/master/orders/create_order_hmac.py) for a sample Python script.

    ## Fetch Trading Account Ids
    
    Trading Account Ids may be required by some endpoints. They can be fetched from [Get All Trading Accounts](#get-/v1/accounts/trading-accounts).
    
    See an API example [Here](https://github.com/bullish-exchange/api-examples/blob/master/session/get_trading_accounts.py).

    ## Send The HTTP Authenticated Request

    See [create an order](https://github.com/bullish-exchange/api-examples/blob/master/orders/create_order_hmac.py) for a sample Python script.

    ## How To Ensure The Order Of *Create Order* or *Cancel Order* Requests

    To ensure the order of the *create order* or *cancel order* requests,
    you must wait for an acknowledgement response which will contain the `orderId`
    generated on the server side.
    Also remember that the `nonce` parameter, for these two requests, must be a
    unique increasing integer value.

    For example, let us assume the following:
    * You sent 10 *create order* requests in a row without waiting for an `orderId`
    * The `nonce` increases with each request sent and thus
    * The `nonce` is unique for each request

    Because the requests received by the Bullish exchange are processed in parallel
    the following two possible scenarios can happen:
    * *happy scenario* which has a small chance to occur: all 10 requests are
    processed in the exact order sent by the client, no error, all great and you
    are happy
    * *unhappy scenario* which has a higher chance to occur: the requests are not
    processed in the exact order sent by you, because the requests might arrive at the
    bullish processing server at different times and thus the validations
    of the `nonce` for each request take place at random times. Because of that all
    the requests that are validated and have the `nonce` higher than the latest
    valid `nonce` will be accepted as valid and the ones which have the `nonce`
    smaller than the last valid `nonce` will be considered invalid and dropped.
    In the worse case scenario the request with the highest `nonce`, the 10th request
    you sent, is validated first, and the rest of the 9 requests will fail the
    validation because they have the `nonce` smaller than the 10th.
    Also if some requests are failing because of some other errors, e.g. incorrect
    inputs or internal error, you will not know because you did not wait for the
    acknowledgement from the server side for each request you sent.

    If you wait the acknowledgement from the server side you ensure the order of
    the requests you sent and you can also verify the status of the order(s) you
    created or cancelled.
    
    ## How To Enable Out-Of-Order Processing of Order Requests
    The header `BX-NONCE-WINDOW-ENABLED` is a string representation of a boolean value which enables out-of-order 
    processing of *Create Order* or *Cancel Order* requests up to a window size of 100 from the highest previously used
    `nonce` value (inclusive).
    
    The `nonce` parameter is required to be both unique and incremental, but setting `BX-NONCE-WINDOW-ENABLED` to `true` 
    loosens this requirement such that the `nonce` is only required to be `unique`. For example, the client is able to 
    send `nonce` values from `1...100` in any order and all the values will be valid.   
    
    ## How do EMS/Brokers Flag Their Executions Sent To Bullish
    The header `BX-REFERRER` value is a unique identifier that can be used by EMS/brokers to flag their executions sent to Bullish.
    
    This referrer header is applicable to the below mentioned authenticated endpoints:
      1. [Create Order](#post-/v2/orders)
      2. [Create OTC Trade](#post-/v2/otc-trades)
    
    For more details, please reach out to your relationship manager to understand which referrer you are assigned.

    # WebSockets

    Connection request to the web-socket uses [JWT_COOKIE based authentication](https://github.com/bullish-exchange/api-examples/blob/master/websocket/private_data_web_socket.py).
    To generate a JWT token see - [Generate A JWT Token](#overview--generate-a-jwt-token). Each web-socket exposes a set of
    topics that can be subscribed to.

    ## Servers
      - `wss://api.exchange.bullish.com` - PRODUCTION
      - `wss://registered.api.exchange.bullish.com` - PRODUCTION
      - `wss://prod.access.bullish.com` - PRODUCTION (Direct Connect)
      - `wss://api.simnext.bullish-test.com` - SANDBOX
      - `wss://registered.api.simnext.bullish-test.com` - SANDBOX
      - `wss://simnext.access.bullish.com` - SANDBOX  (Direct Connect)

    ## Max Open WebSocket Connections
    
    Each WebSocket category has a maximum number of open connections. Once it is reached, new WebSocket requests will be rejected. 
    The WebSocket connections fall under the below categories.
    
    - Unauthenticated WebSockets, maximum of 100 open connections per IP address.
    - Authenticated WebSockets, maximum of 10 open connections per API key.
    
    ## Send A Message Over The WebSocket

    Messages sent by the client to the server over a web-socket follows the
    [JSON-RPC 2.0 Specification](https://www.jsonrpc.org/specification). The server then returns a response following
    the same JSON-RPC 2.0 format. The `id` field sent by the client will be included in the response, allowing the
    client to map the server's responses to the messages sent by the client. The client ensures the uniqueness of the
    `id` field.

    Find below the message types accepted by the web-socket:
      1. [Subscription Message](#overview--subscribe-to-a-topic)
      2. [Keepalive Ping Message](#overview--keep-websocket-open)

    ## Subscribe To A Topic

    Subscribe to receive a snapshot of your existing data and subsequently receive updates.

    Two types of subscription:
      1. Subscribe by `<TOPIC>`
      2. Subscribe by `<TOPIC>` and `<SYMBOL>` plus optional fields (if any)

    Message fields:
      - `<TOPIC>`: subscription topic
      - `<SYMBOL>`: market symbol
      - `<COMMAND_ID>`: unique unsigned long value

    The subscription message would be constructed like below:

    Subscribe by `<TOPIC>`
    ```json
    {
      "jsonrpc": "2.0",
      "type": "command",
      "method": "subscribe",
      "params": {
          "topic": "<TOPIC>",
      },
      "id": "<COMMAND_ID>"
    }
    ```

    Subscribe by `<TOPIC>` and `<SYMBOL>`
    ```json
    {
      "jsonrpc": "2.0",
      "type": "command",
      "method": "subscribe",
      "params": {
          "topic": "<TOPIC>",
          "symbol": "<SYMBOL>",
      },
      "id": "<COMMAND_ID>"
    }
    ```

    Sample subscription messages:
     - Orders
    ```json
    {
      "jsonrpc": "2.0",
      "type": "command",
      "method": "subscribe",
      "params": {
          "topic": "orders"
      },
      "id": "1611082473000"
    }
    ```
     - L1 Order Book
    ```json
    {
      "jsonrpc": "2.0",
      "type": "command",
      "method": "subscribe",
      "params": {
          "topic": "l1Orderbook"
          "symbol": "BTCUSD"
      },
      "id": "1611082473000"
    }
    ```

    Find below the available `<TOPIC>`:
      1. [Multi-OrderBook Data WebSocket](#overview--multi-orderbook-websocket-unauthenticated)
      2. [Anonymous Trades WebSocket](#overview--anonymous-trades-websocket-unauthenticated)
      2. [Anonymous Market Data WebSocket](#overview--anonymous-market-data-price-tick-unauthenticated)
      3. [Index Data WebSocket](#overview--index-data-websocket-unauthenticated)
      4. [Private Data WebSocket](#overview--private-data-websocket-authenticated)


    ## Keep WebSocket Open

    Keep the web-socket connection open by sending keepalive ping messages periodically.
    The web-socket closes automatically after 5 minutes.


    The keepalive ping message would be constructed like below:

    ```json
    {
      "jsonrpc": "2.0",
      "type": "command",
      "method": "keepalivePing",
      "params": {},
      "id": "<COMMAND_ID>"
    }
    ```

    ## Receive A Message From The WebSocket

    JSON-RPC responses are of the following format:

    Success responses
    ```json
    {
      "jsonrpc": "2.0",
      "id": "1650865877698",
      "result": {
        "responseCode": "200",
        "responseCodeName": "OK",
        "message": "Successfully subscribed"
      }
    }
    ```

    Error responses
    ```json
    {
      "jsonrpc": "2.0",
      "id": "1650865877698",
      "error": {
        "code": "-32602",
        "errorCode": "29013",
        "errorCodeName": "INVALID_TOPIC_ERROR",
        "message": "'a-random-topic' is not a valid topic"
    }
    ```

    - `code`: [JSON-RPC 2.0 error code](https://www.jsonrpc.org/specification)
    - `responseCode`/`errorCode`: unique ID for response/error code
    - `responseCodeName`/`errorCodeName`: unique name for response/error code
    - `message`: textual description of the `responseCode`/`errorCode`


    Snapshot responses are of the following format:
    ```json
    {
      "type": "snapshot",
      "dataType": "<DATA_TYPE>",
      "data": [ { <TOPIC_RESPONSE> } ]
    }
    ```

    Update responses are of the following format:
    ```json
    {
      "type": "update",
      "dataType": "<DATA_TYPE>",
      "data": { <TOPIC_RESPONSE> }
    }
    ```

    Error responses are of the following format:
    ```json
    {
      "type": "error",
      "dataType": "V1TAErrorResponse",
      "data": {
        "errorCode": <ERROR_CODE>,
        "errorCodeName": "<ERROR_CODE_NAME>"
      }
    }
    ```

    ## Heartbeat
    - this is a `beta/experimental` feature that is currently being tested
    - the heart beat message is periodically sent approximately every 30 seconds on the `heartbeat` topic for the [Private Data WebSocket](#overview--private-data-websocket-authenticated) API and [Multi-OrderBook WebSocket)](#overview--multi-orderbook-websocket-unauthenticated) API
    - the heat beat serves to validate end to end communication between the exchange and the client
    - if 3 heart beats are missed, then it is advisable to check the [official status page](https://bullish.statuspage.io/) for any announcements on the degradation of the exchanges features
    - if no announcements have been made, it is advisable to disconnect and reconnect the websocket API given the issue may be isolated to a specific gateway

    ## Multi-OrderBook WebSocket (unauthenticated)
    **Route**
    - `/trading-api/v1/market-data/orderbook`
    
    This allows simultaneous subscriptions to multiple L1 and L2 orderbooks of different markets:
    
    It also provides a heartbeat topic which sends heartbeat every 30s as an indicator of platform healthiness. Please refer to the [heartbeat session](#overview--heartbeat) for the details.
    
    ### Multi-Orderbook Subscription
    The orderbooks of different markets to be subscribed are controlled by the parameters in the subscription message listed below:
    | Parameters            | Type   | Description                                                                     |
    |:----------------------|:-------|:--------------------------------------------------------------------------------|
    | topic                 | String | l1 orderbook: l1Orderbook<br />l2 orderbook: l2Orderbook<br />heartbeat: heartbeat  |
    | symbol                | String | market symbol                                                                   |

    L1 Subscription Message Sample:
    ```json
    {
      "jsonrpc": "2.0",
      "type": "command",
      "method": "subscribe",
      "params": {
          "topic": "l1Orderbook",
          "symbol": "BTCUSD"
      },
      "id": "1611082473000"
    }
    ```

    L2 Subscription Message Sample:
    ```json
    {
      "jsonrpc": "2.0",
      "type": "command",
      "method": "subscribe",
      "params": {
          "topic": "l2Orderbook",
          "symbol": "BTCUSD"
      },
      "id": "1611082473000"
    }
    ```

    Heartbeat Subscription Message Sample:
    ```json
    {
      "jsonrpc": "2.0",
      "type": "command",
      "method": "subscribe",
      "params": {
          "topic": "heartbeat"
      },
      "id": "1611082473000"
    }
    ```

    ### Multi-Orderbook Response
    
    * L1 Update Response
    | Name           | Type   | Description                                                                                                   |
    |:---------------|:-------|:--------------------------------------------------------------------------------------------------------------|
    | sequenceNumber | String | incrementing, unique, unsigned integer that identifies a state of the L1-orderbook                            |
    | symbol         | String | market symbol                                                                                                 |
    | timestamp      | String | denotes the time the update was created                                                                       |
    | bid            | Array  | nested array containing price and quantity of highest bid                                                     |
    | ask            | Array  | nested array containing price and quantity of lowest ask                                                      |
    
    
    ```json
    {
      "type": "update",
      "dataType": "V1TALevel1",
      "data": {
        "symbol": "BTCUSD",
        "bid": [
          "5199.5000",
          "61.95995262"
        ],
        "ask": [
          "5199.6000",
          "96.59626782"
        ],
        "sequenceNumber": "8",
        "datetime": "2020-06-29T06:28:55.500Z",
        "timestamp": "1593412135500"
      }
    }
    ``` 
    
    * L2 Snapshot Response

    | Name                    | Type   | Description                                                                                                                                                                                                              |
    |---------------------    |--------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
    | symbol                  | String | market symbol                                                                                                                                                                                                            |
    | bids                    | Array  | array of size 200 where even indices denote price, odd indices denote absolute quantities                                                                                                                                |
    | asks                    | Array  | array of size 200 where even indices denote price, odd indices denote absolute quantities                                                                                                                                |
    | sequenceNumberRange     | Array  | array of size 2 where first element denotes lower bound, second element denotes upper bound of sequence numbers <br /> lower and upper bound are equal for initial snapshot; this may differ for subsequent snapshots    |
    | datetime                | String | denotes the time the update was created by the engine, ISO 8601 with millisecond as string                                                                                                                               |
    | timestamp               | String | denotes the time the update was created by the engine                                                                                                                                                                    |
    | publishedAtTimestamp    | String | denotes the time the update was broadcasted to connected websockets                                                                                                                                                      |

    ```json
    {
      "type": "snapshot",
      "dataType": "V1TALevel2",
      "data": {
        "symbol": "BTCUSDC",
        "bids": [
          "5199.5000",
          "110.92467647",
          "5199.4000",
          "20.92470365",
          "5199.3000",
          "0.92473034",
          "5199.2000",
          "0.92475701",
          "5199.1000",
          "0.92478369",
          "5199.0000",
          "0.92481038",
          "5198.9000",
          "0.92483705",
          "5198.8000",
          "0.92486375",
          "5198.7000",
          "0.92489042",
          "5198.6000",
          "0.92491712"
        ],
        "asks": [
          "5199.6000",
          "96.37848193",
          "5199.7000",
          "0.92465082",
          "5199.8000",
          "11.04464563",
          "5199.9000",
          "0.92459696",
          "5200.0000",
          "0.92457029",
          "5200.1000",
          "0.92454362",
          "5200.2000",
          "0.92451695",
          "5200.3000",
          "0.92449028",
          "5200.4000",
          "0.92446361",
          "5200.5000",
          "0.92443695"
        ],
        "sequenceNumberRange": [
            1370055970,
            1370055970
        ],
        "datetime": "2025-02-14T07:15:33.797Z",
        "timestamp": "1739517333797",
        "publishedAtTimestamp": "1739517333798"
      }
    }
    ```
    
    See [connect to multi-orderbook web-socket](https://github.com/bullish-exchange/api-examples/blob/master/websocket/multi_orderbook_web_socket.py) for a sample Python script.

    ## Unified Anonymous Trades WebSocket (unauthenticated)
    **Route**
    - `/trading-api/v1/market-data/trades`
    
    This allows simultaneous trade subscriptions to multiple markets. Additionally, instead of sending trades one by one, trades are sent in batches.
    
    Upon subscribing to a market, the client will first receive a snapshot of the latest 100 trades, followed by batches of trade updates.
    
    ### Unified Anonymous Trade Subscription
    Anonymous trades from different markets to be subscribed to are controlled by the parameters in the subscription message listed below:
    | Parameters            | Type   | Description                                                                     |
    |:----------------------|:-------|:--------------------------------------------------------------------------------|
    | topic                 | String | anonymousTrades                                                                 |
    | symbol                | String | market symbol                                                                   |

    Trade Subscription Message Sample:
    ```json
    {
      "jsonrpc": "2.0",
      "type": "command",
      "method": "subscribe",
      "params": {
          "topic": "anonymousTrades",
          "symbol": "BTCUSDC"
      },
      "id": "1611082473000"
    }
    ```

    ### Trade Response Fields
    Each trade in a snapshot or update contains the following fields:
    | Name                 | Type      | Description                                                                               |
    |:---------------------|:----------|:------------------------------------------------------------------------------------------|
    | tradeId              | String    | unique trade ID                                                                           |
    | symbol               | String    | market symbol                                                                             |
    | price                | String    | price, see [asset value](#overview--price-and-quantity-precision) format                  |
    | quantity             | String    | quantity, see [asset value](#overview--price-and-quantity-precision) format               |
    | side                 | String    | order side                                                                                |
    | isTaker              | Boolean   | denotes whether this is a taker's trade                                                   |
    | otcMatchId           | String    | unique OTC match id                                                                       |
    | otcTradeId           | String    | unique Bullish OTC trade id                                                               |
    | clientOtcTradeId     | String    | unique client OTC trade id                                                                |
    | createdAtTimestamp   | String    | denotes the time the order was ACK'd by the exchange                                      |
    | createdAtDatetime    | String    | denotes the time the order was ACK'd by the exchange, ISO 8601 with millisecond as string |
    | publishedAtTimestamp | String    | denotes the time the update was broadcasted to connected websockets                       |

    ### Unified Anonymous Trade Snapshot Response
    The client will receive a trade snapshot with the latest 100 trades upon subscription.
    
    Sample:
    ```json
    {
      "type": "snapshot",
      "dataType": "V1TAAnonymousTradeUpdate",
      "data": {
        "trades": [
          {
            "tradeId": "100069000000063765",
            "isTaker": true,
            "price": "23404.8636",
            "createdAtTimestamp": "1721879160353",
            "quantity": "0.00029411",
            "publishedAtTimestamp": "1721879162124",
            "side": "SELL",
            "createdAtDatetime": "2024-07-25T03:46:00.353Z",
            "symbol": "BTCUSDC",
            "otcMatchId": "1",
            "otcTradeId": "200069000000063765",
            "clientOtcTradeId": "300069000000063765"
          },
          {
            "tradeId": "100069000000063764",
            "isTaker": true,
            "price": "23405.3380",
            "createdAtTimestamp": "1721879155351",
            "quantity": "0.00029411",
            "publishedAtTimestamp": "1721879162124",
            "side": "SELL",
            "createdAtDatetime": "2024-07-25T03:45:55.351Z",
            "symbol": "BTCUSDC",
            "otcMatchId": "2",
            "otcTradeId": "200069000000063764",
            "clientOtcTradeId": "300069000000063764"
          },
          ...
          {
              "tradeId": "100069000000063666",
              "isTaker": true,
              "price": "23001.8708",
              "createdAtTimestamp": "1721879028067",
              "quantity": "0.00029411",
              "publishedAtTimestamp": "1721879162124",
              "side": "SELL",
              "createdAtDatetime": "2024-07-25T03:43:48.067Z",
              "symbol": "BTCUSDC"
          }
        ],
        "createdAtTimestamp": "1721879160353",
        "publishedAtTimestamp": "1721879162125",
        "symbol": "BTCUSDC"
      }
    }
    ```

    ### Unified Anonymous Trade Update Response
    After receiving the snapshot, the client will receive subsequent trade updates in batches.
    
    Sample:
    ```json
    {
      "type": "update",
      "dataType": "V1TAAnonymousTradeUpdate",
      "data": {
        "trades": [
          {
            "tradeId": "100028000018887830",
            "isTaker": true,
            "price": "111.8940",
            "createdAtTimestamp": "1722408780738",
            "quantity": "0.00100000",
            "publishedAtTimestamp": "1722408780790",
            "side": "BUY",
            "createdAtDatetime": "2024-07-31T06:53:00.738Z",
            "symbol": "BTCUSDC"
          },
          {
            "tradeId": "100028000018887837",
            "isTaker": false,
            "price": "111.8716",
            "createdAtTimestamp": "1722408780738",
            "quantity": "0.00009595",
            "publishedAtTimestamp": "1722408780790",
            "side": "SELL",
            "createdAtDatetime": "2024-07-31T06:53:00.738Z",
            "symbol": "BTCUSDC",
            "otcMatchId": "10",
            "otcTradeId": "200028000018887837",
            "clientOtcTradeId": "300028000018887837"
          },
          ...
          {
            "tradeId": "100028000018887992",
            "isTaker": true,
            "price": "112.2896",
            "createdAtTimestamp": "1722408780786",
            "quantity": "0.00100000",
            "publishedAtTimestamp": "1722408780790",
            "side": "BUY",
            "createdAtDatetime": "2024-07-31T06:53:00.786Z",
            "symbol": "BTCUSDC",
            "otcMatchId": "11",
            "otcTradeId": "200028000018887992",
            "clientOtcTradeId": "300028000018887992"
          }
        ],
        "createdAtTimestamp": "1722408780786",
        "publishedAtTimestamp": "1722408780790",
        "symbol": "BTCUSDC"
      }
    }
    ```
    
    ## Unified Anonymous Tick WebSocket (unauthenticated)
    **Route**
    - `/trading-api/v1/market-data/tick`
    
    This allows simultaneous tick subscriptions to multiple markets. 
    
    Upon subscribing to a market, the client will first receive a snapshot of latest ticker, followed by updates. 
    See the data model: [Get Market Tick](#get-/v1/markets/-symbol-/tick)
    
    ### Unified Anonymous Tick Subscription
    Tick of different markets to be subscribed to, are controlled by parameters in the subscription message listed below:
    | Parameters            | Type   | Description                                                                     |
    |:----------------------|:-------|:--------------------------------------------------------------------------------|
    | topic                 | String | `tick`                                                                        |
    | symbol                | String | market symbol such as `BTCUSDC`                                                 |

    ### Tick Subscription Message Sample:
    ```json
    {
      "jsonrpc": "2.0",
      "type": "command",
      "method": "subscribe",
      "params": {
          "topic": "tick",
          "symbol": "BTCUSD"
      },
      "id": "1611082473000"
    }
    ```

    ### Keepalive Message Sample:
    ```json
    {
      "jsonrpc": "2.0",
      "type": "command",
      "method": "keepalivePing",
      "params": {},
      "id": "1611082473001"
    }
    ```
    
    ### Tick response example
    ```json
    {
      "type": "snapshot",
      "dataType": "V1TATickerResponse",
      "data": {
        "askVolume": "3.56000000",
        "average": "5200.0400",
        "baseVolume": "1.00000000",
        "bestAsk": "6543.0000",
        "bestBid": "2345.0000",
        "bidVolume": "2.00000000",
        "change": "0.0000",
        "close": "5200.0400",
        "createdAtTimestamp": "1591058897000",
        "publishedAtTimestamp": "1591058898000",
        "high": "5200.0400",
        "last": "5200.0400",
        "lastTradeDatetime": "2020-06-02T00:40:39.500Z",
        "lastTradeSize": "1.00000000",
        "low": "5200.0400",
        "open": "5200.0400",
        "percentage": "0.00",
        "quoteVolume": "5200.0400",
        "symbol": "BTC-USDC-PERP",
        "type": "ticker",
        "vwap": "5200.0400",
        "currentPrice": "0.0007",
        "ammData": [
          {
            "feeTierId": "1",
            "currentPrice": "0.0007",
            "baseReservesQuantity": "96153.00000000",
            "quoteReservesQuantity": "500005200.0400",
            "bidSpreadFee": "0.00000005",
            "askSpreadFee": "0.00000006"
          },
          {
            "feeTierId": "2",
            "currentPrice": "0.0017",
            "baseReservesQuantity": "96153.00000000",
            "quoteReservesQuantity": "500005200.0400",
            "bidSpreadFee": "0.00000015",
            "askSpreadFee": "0.00000016"
          }
        ],
        "createdAtDatetime": "2020-06-02T00:48:17.000Z",
        "markPrice": "26000.0000",
        "fundingRate": "0.114100",
        "openInterest": "9.00000000"
      }
    }
    ```
    
    ## Anonymous Market Data Price Tick (unauthenticated)
    **Route**
    - `/trading-api/v1/market-data/tick/{symbol}`
    
    **Note**: This endpoint does not require subscriptions.
    
    On connection, the client receives current Tick by Market Symbol. See the data model: [Get Market Tick](#get-/v1/markets/-symbol-/tick)

    ### Tick response example
    ```json
    {
      "type": "snapshot",
      "dataType": "V1TATickerResponse",
      "data": {
        "askVolume": "3.56000000",
        "average": "5200.0400",
        "baseVolume": "1.00000000",
        "bestAsk": "6543.0000",
        "bestBid": "2345.0000",
        "bidVolume": "2.00000000",
        "change": "0.0000",
        "close": "5200.0400",
        "createdAtTimestamp": "1591058897000",
        "publishedAtTimestamp": "1591058898000",
        "high": "5200.0400",
        "last": "5200.0400",
        "lastTradeDatetime": "2020-06-02T00:40:39.500Z",
        "lastTradeSize": "1.00000000",
        "low": "5200.0400",
        "open": "5200.0400",
        "percentage": "0.00",
        "quoteVolume": "5200.0400",
        "symbol": "BTC-USDC-PERP",
        "type": "ticker",
        "vwap": "5200.0400",
        "currentPrice": "0.0007",
        "ammData": [
          {
            "feeTierId": "1",
            "currentPrice": "0.0007",
            "baseReservesQuantity": "96153.00000000",
            "quoteReservesQuantity": "500005200.0400",
            "bidSpreadFee": "0.00000005",
            "askSpreadFee": "0.00000006"
          },
          {
            "feeTierId": "2",
            "currentPrice": "0.0017",
            "baseReservesQuantity": "96153.00000000",
            "quoteReservesQuantity": "500005200.0400",
            "bidSpreadFee": "0.00000015",
            "askSpreadFee": "0.00000016"
          }
        ],
        "createdAtDatetime": "2020-06-02T00:48:17.000Z",
        "markPrice": "26000.0000",
        "fundingRate": "0.114100",
        "openInterest": "9.00000000"
      }
    }
    ```
    
  
    ## Index Data websocket (unauthenticated)
    **Route**
    - `/trading-api/v1/index-data`
    
    ### Index Price Subscription
    The index price of different assets to be subscribed are controlled by the parameters in the subscription message listed below:
    | Parameters            | Type   | Description                                                                     |
    |:----------------------|:-------|:--------------------------------------------------------------------------------|
    | topic                 | String | Index Price: `indexPrice` <br/>                                                   |
    | assetSymbol           | String | Asset symbol, such as `BTC` or `USDC`                                           |

    Index Price Subscription Sample:
    ```json
    {
      "jsonrpc": "2.0",
      "type": "command",
      "method": "subscribe",
      "params": {
          "topic": "indexPrice",
          "assetSymbol": "USDC"
      },
      "id": "1611082473000"
    }
    ```
    
    ### IndexPrice Response
    On successful subscription for an `assetSymbol`, the client receives a snapshot with the current index price, and updates after. 
    
    | Name                 | Type      | Description                                                                               |
    |:---------------------|:----------|:------------------------------------------------------------------------------------------|
    | assetSymbol          | String    | asset symbol                                                                              |
    | price                | String    | price in USD, see [asset value](#overview--price-and-quantity-precision) format           |
    | updatedAtDatetime    | String    | denotes the time the index price was updated by the exchange, in ISO 8601 format          |
    | updatedAtTimestamp   | String    | denotes the epoch millisecond time the index price was updated by the exchange            |
    
    ```json
    {
      "type": "update",
      "dataType": "V1TAIndexPrice",
      "data": {
        "assetSymbol": "USDC",
        "price": "1.0000",
        "updatedAtDatetime": "2024-06-29T06:29:50.500Z",
        "updatedAtTimestamp": "1719642590000"
      }
    }
    ```

    ## Private Data WebSocket (authenticated)
    - All private data updates are realtime.

    Establishing a websocket connection
    1. Getting private data from a single trading account.
      - Connect to `/trading-api/v1/private-data?tradingAccountId=<Id of the Trading Account>`
      - For example, to subscribe to the `orders` topic, the following subscription message is sent:
      ```json
        {
            "jsonrpc": "2.0",
            "type": "command",
            "method": "subscribe",
            "params": {
                "topic": "orders"
            },
            "id": "1611082473000"
        }
      ```
      - It is possible to subscribe to multiple topics with a single subscription message. For example, a topic of `assetAccounts+derivativesPositionsV2` 
        would subscribe to both `assetAccounts` and `derivativesPositionsV2`
    
    2. Getting private data from multiple trading accounts.
      - Connect to `/trading-api/v1/private-data`
      - For example, to subscribe to the `orders` topic for each of your trading accounts, the following subscription message is sent for each trading account you wish to subscribe to:
      ```json
        {
            "jsonrpc": "2.0",
            "type": "command",
            "method": "subscribe",
            "params": {
                "topic": "orders",
                "tradingAccountId": "<Id of the Trading Account>"
            },
            "id": "1611082473000"
        }
      ```

    | Topic                  | Description                                                                                                                           | Data Type                | Subscription Type |
    | :--                    | :--                                                                                                                                   | :--                      | :--               |
    | orders                 | Provides snapshot and updates on your orders. The snapshot will contain all open orders and the 20 most recent closed orders.         | `V1TAOrder`              | By `<TOPIC>`      |
    | trades                 | Provides snapshot and updates on your trades. The snapshot will contain the 20 most recent trades.                                    | `V1TATrade`              | By `<TOPIC>`      |
    | ~spotAccounts~         | `Deprecated`[[more info](.././deprecated/index.html#overview--spot-account)] Provides snapshot and updates on assets in your account. | `V1TASpotAccount`        | By `<TOPIC>`      |
    | assetAccounts          | Provides snapshot and updates on assets in your account.                                                                              | `V1TAAssetAccount`       | By `<TOPIC>`      |
    | tradingAccounts        | Provides snapshot and updates on your trading account summary.                                                                        | `V1TATradingAccount`     | By `<TOPIC>`      |
    | heartbeat              | Provides heartbeat updates for healthcheck.                                                                                           | `V1TAHeartbeat`          | By `<TOPIC>`      |
    | ~derivativesPositions~ | `Deprecated`[*Replaced by:* `derivativesPositionsV2`] Provides derivative position information on your trading account.               | `V1TAPerpetualPosition`  | By `<TOPIC>`      |
    | derivativesPositionsV2 | Provides derivative position information on your trading account.                                                                     | `V1TADerivativesPosition`| By `<TOPIC>`      |
    | ammInstructions        | Provides amm instructions update on your trading account.                                                                             | `V1TAAmmInstruction`     | By `<TOPIC>`      |
    | mmpTrigger             | Provides snapshot and updates on your market maker protection trigger events.                                                         | `V1TAMMPTrigger`         | By `<TOPIC>`      |
    | mmpRequest             | Provides snapshot and updates on your market maker protection configurations.                                                         | `V1TAMMPConfigRequest`   | By `<TOPIC>`      |
    ### orders response

    | Name                  | Type      | Description                                                                                                                                                                                        |
    |:-------------------   |:----------|:------------------------------------------------------------------------------------------                                                                                                         |
    | ~handle~              | String    | unique numeric (i64) identifier generated on the client side expressed as a string value <br /><br />`Deprecated`*to be remove towards the end of Q3 2024.* <br /> *Replaced by:* `clientOrderId`        |
    | clientOrderId         | String    | unique numeric (i64) identifier generated on the client side expressed as a string value                                                                                                           |
    | orderId               | String    | unique order ID                                                                                                                                                                                    |
    | symbol                | String    | market symbol                                                                                                                                                                                      |
    | price                 | String    | price, see [asset value](#overview--price-and-quantity-precision) format                                                                                                                           |
    | averageFillPrice      | String    | average fill price, see [asset value](#overview--price-and-quantity-precision) format                                                                                                              |
    | stopPrice             | String    | stop price, see [asset value](#overview--price-and-quantity-precision) format                                                                                                                      |
    | ~margin~              | Boolean   | indicates if the order was allowed to borrow (does not indicate that borrowing occurred) <br /><br />`Deprecated`*to be remove towards the end of Q3 2024.* <br /> *Replaced by:* `allowBorrow`          |
    | allowBorrow           | Boolean   | indicates if the order was allowed to borrow (does not indicate that borrowing occurred)                                                                                                           |
    | quantity              | String    | quantity, see [asset value](#overview--price-and-quantity-precision) format                                                                                                                        |
    | quoteAmount           | String    | quote quantity deducted from asset account, see [asset value](#overview--price-and-quantity-precision) format                                                                                      |
    | quantityFilled        | String    | quantity filled, see [asset value](#overview--price-and-quantity-precision) format                                                                                                                 |
    | baseFee               | String    | base fee rate that will be charged upon trade execution, see [asset value](#overview--price-and-quantity-precision) format                                                                                                                        |
    | quoteFee              | String    | quote fee rate that will be charged upon trade execution, see [asset value](#overview--price-and-quantity-precision) format                                                                                                                       |
    | ~borrowedQuantity~    | String    | quantity borrowed, see [asset value](#overview--price-and-quantity-precision) format - BUY order borrows quote, SELL order borrows base <br /><br />`Deprecated`*to be remove towards the end of Q3 2024.* <br /> *Replaced by:* `borrowedBaseQuantity` & `borrowedQuoteQuantity` |
    | borrowedBaseQuantity  | String    | base quantity borrowed, see [asset value](#overview--price-and-quantity-precision) format                                                                                                          |
    | borrowedQuoteQuantity | String    | quote quantity borrowed, see [asset value](#overview--price-and-quantity-precision) format                                                                                                         |
    | isLiquidation         | Boolean   | indicates if the order was executed as a liquidation order                                                                                                                                         |
    | side                  | String    | order side                                                                                                                                                                                         |
    | type                  | String    | order type                                                                                                                                                                                         |
    | timeInForce           | String    | time in force                                                                                                                                                                                      |
    | status                | String    | order status                                                                                                                                                                                       |
    | statusReason          | String    | status reason, describes why the order is in a specific state                                                                                                                                      |
    | statusReasonCode      | Integer   | status reason code, see [details](https://github.com/bullish-exchange/api-docs/wiki/Error-&-Rejection-Codes#order-statusreasoncode-map)                                                                                                                           |
    | createdAtDatetime     | String    | denotes the time the order was ACK'd by the exchange, ISO 8601 with millisecond as string                                                                                                          |
    | createdAtTimestamp    | String    | denotes the time the order was ACK'd by the exchange                                                                                                                                               |
    | publishedAtTimestamp  | String    | denotes the time the update was broadcasted to connected websockets                                                                                                                                |

    ```json
    {
      "tradingAccountId": "1111",
      "type": "snapshot",
      "dataType": "V1TAOrder",
      "data": [
        {
          "handle": null,
          "orderId": "392883006043848705",
          "symbol": "BTCUSD",
          "price": "66858.2000",
          "averageFillPrice": "66858.2000",
          "stopPrice": null,
          "margin": false,
          "quantity": "2.00000000",
          "quantityFilled": "2.00000000",
          "quoteAmount": "23000.0000",
          "baseFee": "0.00000000",
          "quoteFee": "0.0005",
          "side": "BUY",
          "borrowedQuantity": "0.0010",
          "isLiquidation": false,
          "type": "LMT",
          "timeInForce": "GTC",
          "status": "CLOSED",
          "statusReason": "Executed",
          "statusReasonCode": 6002,
          "createdAtDatetime": "2021-12-30T07:36:35.918Z",
          "createdAtTimestamp": "1640849795918",
          "publishedAtTimestamp": "1640849795920"
        }
      ]
    }
    ```

    ### trades response

    | Name                   | Type      | Description                                                                                                    |
    |:-----------------------|:----------|:---------------------------------------------------------------------------------------------------------------|
    | tradeId                | String    | unique trade ID                                                                                                |
    | orderId                | String    | unique order ID                                                                                                |
    | handle                 | String    | unique numeric identifier (i64) generated on the client side expressed as a string value                       |
    | symbol                 | String    | market symbol                                                                                                  |
    | price                  | String    | price, see [asset value](#overview--price-and-quantity-precision) format                                       |
    | quantity               | String    | quantity, see [asset value](#overview--price-and-quantity-precision) format                                    |
    | quoteAmount            | String    | quote quantity deducted from asset account, see [asset value](#overview-price-and-quantity-precision) format   |
    | baseFee                | String    | base fee, see [asset value](#overview--price-and-quantity-precision) format                                    |
    | quoteFee               | String    | quote fee, see [asset value](#overview--price-and-quantity-precision) format                                   |
    | side                   | String    | order side                                                                                                     |
    | tradeRebateAmount      | String    | amount of rebate that is credited to the user as part of the trade                                         |
    | tradeRebateAssetSymbol | String    | symbol of the asset in which the rebate is paid                                                                |
    | isTaker                | Boolean   | denotes whether this is a taker's trade                                                                        |
    | otcMatchId             | String    | unique OTC match id                                                                                            |
    | otcTradeId             | String    | unique Bullish OTC trade id                                                                                    |
    | clientOtcTradeId       | String    | unique client OTC trade id                                                                                     |
    | createdAtDatetime      | String    | denotes the time the trade was executed by the exchange, ISO 8601 with millisecond as string                   |
    | createdAtTimestamp     | String    | denotes the time the trade was executed by the exchange                                                        |
    | publishedAtTimestamp   | String    | denotes the time the update was broadcasted to connected websockets                                            |

    ```json
    {
      "tradingAccountId": "1111",
      "type": "snapshot",
      "dataType": "V1TATrade",
      "data": [
        {
          "tradeId": "100014000000000118",
          "orderId": "392883006043848705",
          "handle": "123456",
          "symbol": "BTCUSD",
          "price": "66858.2000",
          "quantity": "2.00000000",
          "quoteAmount": "23000.0000",
          "baseFee": "0.00000000",
          "quoteFee": "66.8582",
          "side": "BUY",
          "isTaker": false,
          "tradeRebateAmount": "3.0000",
          "tradeRebateAssetSymbol": "USDC",
          "otcMatchId": "15",
          "otcTradeId": "200014000000000118",
          "clientOtcTradeId": "300014000000000118",
          "createdAtDatetime": "2021-12-30T07:36:35.918Z",
          "createdAtTimestamp": "1640849795918",
          "publishedAtTimestamp": "1640849795920"
        }
      ]
    }
    ```
    
    ### assetAccounts response
    
    - `V1TAAssetAccount` provides a more granular view of the assets in your trading account compared to `V1TASpotAccount`. 
    
    
    | Name                 | Type      | Description                                                                                                                                                                                  |
    |----------------------|-----------|----------------------------------------------------------------------------------------------------------------------------------------------------                                          | 
    | tradingAccountId     | String    | id of the trading account                                                                                                                                                                    |
    | assetId              | String    | asset ID                                                                                                                                                                                     |
    | assetSymbol          | String    | asset symbol                                                                                                                                                                                 |
    | availableQuantity    | String    | the assets that are available to use on the account, see [asset value](#overview--price-and-quantity-precision) format                                                                       |
    | borrowedQuantity     | String    | the assets on the account that are borrowed, see [asset value](#overview--price-and-quantity-precision) format                                                                               |
    | lockedQuantity       | String    | the assets on the account that are locked in orders, loans and AMM instructions, see [asset value](#overview--price-and-quantity-precision) format                                           |
    | loanedQuantity       | String    | the assets on the account that are being loaned, see [asset value](#overview--price-and-quantity-precision) format                                                                           |
    | updatedAtDatetime    | String    | denotes the time the asset account was updated by the exchange, ISO 8601 with millisecond as string                                                                                          |
    | updatedAtTimestamp   | String    | denotes the time the asset account was updated by the exchange                                                                                                                               |
    | publishedAtTimestamp | String    | denotes the time the update was broadcasted to connected websockets                                                                                                                          |
    
    ```json
    {
      "tradingAccountId": "1111",
      "type": "snapshot",
      "dataType": "V1TAAssetAccount",
      "data": [
        {
          "tradingAccountId": "1111",
          "assetId": "1",
          "assetSymbol": "BTC",
          "availableQuantity": "4.00000000",
          "borrowedQuantity": "20.00000000",
          "lockedQuantity": "0.00000000",
          "loanedQuantity": "10.00000000",
          "updatedAtDatetime": "2021-12-30T07:36:35.918Z",
          "updatedAtTimestamp": "1640849795918",
          "publishedAtTimestamp": "1640849795920"
        },
        {
          "tradingAccountId": "1111",
          "assetId": "2",
          "assetSymbol": "USD",
          "availableQuantity": "229016.0734",
          "borrowedQuantity": "20000.0000",
          "lockedQuantity": "0.0000",
          "loanedQuantity": "10000.0000",
          "updatedAtDatetime": "2021-12-30T07:36:35.918Z",
          "updatedAtTimestamp": "1640849795918",
          "publishedAtTimestamp": "1640849795920"
        }
      ]
    }
    ```
    
    ### tradingAccounts response
    
    -  Provides a summary of the total borrowed and total collateral values on the specific trading account ID. 
    `totalBorrowedQuantity` and `totalCollateralQuantity` do not represent the absolute quantity of the borrowed assets and 
    are notional values represented in the reference asset.
    -  `snapshot` contains a list with a single entry corresponding to the trading account ID specified in the `tradingAccountId` 
    query parameter when opening the websocket connection.
    
    | Name                    | Type      | Description                                                                                           |
    |-------------------------|-----------|-------------------------------------------------------------------------------------------------------|
    | tradingAccountId        | String    | id of the trading account                                                                             |
    | totalBorrowedQuantity   | String    | total borrowed across all assets in this trading account displayed in the reference asset             |        
    | totalCollateralQuantity | String    | total collateral across all assets in this trading account displayed in the reference asset           |
    | totalBorrowedUSD        | String    | total borrowed across all assets in this trading account displayed in USD                             |
    | totalCollateralUSD      | String    | total collateral across all assets in this trading account displayed in USD                           |
    | initialMarginUSD        | String    | The minimum margin one must maintain in order to be able to purposefully increase risk                |
    | warningMarginUSD        | String    | The minimum margin when the customer will receive warning via email/notifications over UI             |
    | liquidationMarginUSD    | String    | The minimum value of margin one must maintain in order to avoid liquidation                           |
    | fullLiquidationMarginUSD| String    | The value of margin when full liquidation occurs                                                      |
    | endCustomerId           | String    | The end customer id used for self trade prevention (default is institution id, max 32 characters)     |
    | defaultedMarginUSD      | String    | The value of margin when this trading account will be moved into a Defaulted state                    |
    | riskLimitUSD            | String    | The maximum allowed borrowing for this trading account displayed in USD                               |
    | totalLiabilitiesUSD     | String    | The total liabilities for this trading account displayed in USD                       |
    | maxInitialLeverage      | String    | The maximum initial leverage                                                                          |
    | isPrimaryAccount        | String    | Whether this trading account is the primary account                                                   |
    | isBorrowing             | String    | Whether this trading account is borrowing any asset                                                   |
    | isLending               | String    | Whether this trading account has any open loan offers                                                 |
    | isDefaulted             | String    | Whether this trading account is in a defaulted state                                                  |
    | ~takerFee~                | String    | Deprecated and no longer accurate. See `tradeFeeRate` at [Get Trading Account](#get-/v1/accounts/trading-accounts/-tradingAccountId-) instead |
    | ~makerFee~                | String    | Deprecated and no longer accurate. See `tradeFeeRate` at [Get Trading Account](#get-/v1/accounts/trading-accounts/-tradingAccountId-) instead |
    | referenceAssetSymbol    | String    | asset symbol                                                                                          |
    | liquidityAddonUSD       | String    | Expected market impact of unwinding the portfolio in the case of a liquidation event                  |
    | marketRiskUSD           | String    | The worst possible loss on the portfolio based on scenario analysis                                   |
    | marginProfile                          | Object | Contains the market risk multipliers applied to a trading account to derive the five individual Margin Requirement values         |
    | initialMarketRiskMultiplierPct         | String | Market risk multiplier used to calculate initial margin requirement of the account                                               |
    | warningMarketRiskMultiplierPct         | String | Market risk multiplier used to calculate warning margin requirement of the account                                               |
    | liquidationMarketRiskMultiplierPct     | String | Market risk multiplier used to calculate liquidation margin requirement of the account                                           |
    | fullLiquidationMarketRiskMultiplierPct | String | Market risk multiplier used to calculate full liquidation margin requirement of the account                                      |
    | defaultedMarketRiskMultiplierPct       | String | Market risk multiplier used to calculate defaulted margin requirement of the account                                             | 
    | updatedAtDatetime       | String    | denotes the time the trading account was updated by the exchange, ISO 8601 with millisecond as string |
    | updatedAtTimestamp      | String    | denotes the time the trading account was updated by the exchange                                      |
    | publishedAtTimestamp    | String    | denotes the time the update was broadcasted to connected websockets                                   |
    
    ```json
    {
      "tradingAccountId": "1111",
      "type": "snapshot",
      "dataType": "V1TATradingAccount",
      "data": [
        {
          "tradingAccountId": "1111",
          "totalBorrowedQuantity": "12000.0000",
          "totalCollateralQuantity": "13000.0000",
          "totalBorrowedUSD": "12000.0000",
          "totalCollateralUSD": "13000.0000",
          "referenceAssetSymbol": "USD",
          "initialMarginUSD": "900000.0000",
          "warningMarginUSD": "700000.0000",
          "liquidationMarginUSD": "600000.0000",
          "fullLiquidationMarginUSD": "500000.0000",
          "endCustomerId" : "PrimeBroker",
          "defaultedMarginUSD": "300000.0000",
          "riskLimitUSD": "1000000.0000",
          "totalLiabilitiesUSD": "13000.0000",
          "maxInitialLeverage": "3",
          "isPrimaryAccount": true,
          "isBorrowing": true,
          "isLending": false,
          "isDefaulted": false,
          "takerFee": null,
          "makerFee": null,
          "liquidityAddonUSD": "100.0000",
          "marketRiskUSD": "200.0000",
          "marginProfile": {
            "initialMarketRiskMultiplierPct": "200.00",
            "warningMarketRiskMultiplierPct": "150.00",
            "liquidationMarketRiskMultiplierPct": "100.00",
            "fullLiquidationMarketRiskMultiplierPct": "75.00",
            "defaultedMarketRiskMultiplierPct": "50.00"
          },
          "updatedAtDatetime": "2021-12-30T07:36:35.918Z",
          "updatedAtTimestamp": "1640849795918",
          "publishedAtTimestamp": "1640849795920"
        }
      ]
    }
    ```
    
    ### heartbeat response

    -  Provides heartbeat update every 30s as an indicator of platform healthiness. Please refer to the [heartbeat session](#overview--heartbeat) for the details.
    
    | Name                    | Type      | Description                                                                                           |
    |-------------------------|-----------|-------------------------------------------------------------------------------------------------------|
    | sequenceNumber          | String    | sequence number of the heartbeat                                                                      |
    | createdAtTimestamp      | String    | time at which the heartbeat is generated                                                              |
    
    ```json
    {
      "type": "update",
      "dataType": "V1TAHeartbeat",
      "data": [
        {
          "sequenceNumber": "3",
          "createdAtTimestamp": "1611082473000"
        }
      ]
    }
    ```
    ### Derivative position response
    `Deprecated`: *Topic derivativesPosition will be replaced by `derivativesPositionV2`*
    -  Provide a detail view of the derivative position of each market.
    
    | Name                    | Type      | Description                                                                                                                                                                                                   |
    |-------------------------|-----------|-------------------------------------------------------------------------------------------------------                                                                                                        |
    | tradingAccountId        | String    | Id of the trading account                                                                                                                                                                                     |
    | symbol                  | String    | Market symbol, eg. BTC-USDC-PERP                                                                                                                                                                             |
    | side                    | String    | Side of the position                                                                                                                                                                                          |
    | quantity                | String    | Current size of the  position [asset value](#overview--price-and-quantity-precision) format                                                                                                                   |
    | notional                | String    | Notional value of the current position, calculated using the mark price                                                                                                                                       |
    | entryNotional           | String    | Notional value of the position, using the average entry price                                                                                                                                                 |
    | mtmPnl                  | String    | Sum of all mark-to-market profits and losses plus profits and losses realised from trading, accumulated since the last settlement                                                                             |
    | reportedMtmPnl          | String    | The profit/losses from the net price change since the last time the absolute quantity decreased. It is updated with every mark to market and is not updated during settlement or a position size increase     |
    | reportedFundingPnl      | String    | Sum of all funding payments received  since the position was opened. This is updated every time funding is paid.                                                                                              |
    | realizedPnl             | String    | Total profits realized since the trading account first opened this position. This is only updated every time a position’s absolute quantity (aka size) is reduced.                                            |
    | createdAtDatetime       | String    | denotes the time the position was created by the exchange, ISO 8601 with millisecond as string                                                                                                                |
    | createdAtTimestamp      | String    | denotes the time the position was created by the exchange, number of milliseconds since EPOCH                                                                                                                 |
    | updatedAtDatetime       | String    | denotes the time the position was updated by the exchange, ISO 8601 with millisecond as string                                                                                                                |
    | updatedAtTimestamp      | String    | denotes the time the position was updated by the exchange  number of milliseconds since EPOCH                                                                                                                 |
    | publishedAtTimestamp    | String    | denotes the time the update was broadcasted to connected websockets                                                                                                                                           |
    
    ```json
    {
      "tradingAccountId": "1111",
      "type": "snapshot",
      "dataType": "V1TAPerpetualPosition",
      "data": [
        {
          "tradingAccountId": "111234567890",
          "symbol": "BTC-USDC-PERP",
          "side": "BUY",
          "quantity": "1.00000000",
          "notional": "30000.0000",
          "entryNotional": "30000.0000",
          "mtmPnl": "110.0000",
          "reportedMtmPnl": "120.0000",
          "reportedFundingPnl": "130.0000",
          "realizedPnl": "140.0000",
          "createdAtDatetime": "2020-01-01T00:00:00.000Z",
          "createdAtTimestamp": "1577836800000",
          "updatedAtDatetime": "2020-01-02T00:00:00.000Z",
          "updatedAtTimestamp": "1577923200000",
          "publishedAtTimestamp": "1577923300000"
        }
      ]
    }
    ```
    ### Derivative position V2 response
    -  Provide a detail view of the derivative position of each market.
    
    | Name                    | Type      | Description                                                                                                                                                                                                   |
    |-------------------------|-----------|-------------------------------------------------------------------------------------------------------                                                                                                        |
    | tradingAccountId        | String    | Id of the trading account                                                                                                                                                                                     |
    | symbol                  | String    | Market symbol, eg. BTC-USDC-PERP                                                                                                                                                                              |
    | side                    | String    | Side of the position                                                                                                                                                                                          |
    | quantity                | String    | Current size of the  position [asset value](#overview--price-and-quantity-precision) format                                                                                                                   |
    | notional                | String    | Notional value of the current position, calculated using the mark price                                                                                                                                       |
    | entryNotional           | String    | Notional value of the position, using the average entry price                                                                                                                                                 |
    | mtmPnl                  | String    | Sum of all mark-to-market profits and losses plus profits and losses realised from trading, accumulated since the last settlement                                                                             |
    | reportedMtmPnl          | String    | The profit/losses from the net price change since the last time the absolute quantity decreased. It is updated with every mark to market and is not updated during settlement or a position size increase     |
    | reportedFundingPnl      | String    | Sum of all funding payments received  since the position was opened. This is updated every time funding is paid.                                                                                              |
    | realizedPnl             | String    | Total profits realized since the trading account first opened this position. This is only updated every time a position’s absolute quantity (aka size) is reduced.                                            |
    | settlementAssetSymbol   | String    | Settlement asset symbol                                                                                                                                                                                       |
    | eventType               | String    | Derivatives position update event types                                                                                                                                                                       |
    | createdAtDatetime       | String    | denotes the time the position was created by the exchange, ISO 8601 with millisecond as string                                                                                                                |
    | createdAtTimestamp      | String    | denotes the time the position was created by the exchange, number of milliseconds since EPOCH                                                                                                                 |
    | updatedAtDatetime       | String    | denotes the time the position was updated by the exchange, ISO 8601 with millisecond as string                                                                                                                |
    | updatedAtTimestamp      | String    | denotes the time the position was updated by the exchange  number of milliseconds since EPOCH                                                                                                                 |
    | publishedAtTimestamp    | String    | denotes the time the update was broadcasted to connected websockets                                                                                                                                           |
    
    ```json
    {
      "tradingAccountId": "1111",
      "type": "snapshot",
      "dataType": "V1TADerivativesPosition",
      "data": [
        {
          "tradingAccountId": "111234567890",
          "symbol": "BTC-USDC-PERP",
          "side": "BUY",
          "quantity": "1.00000000",
          "notional": "30000.0000",
          "entryNotional": "30000.0000",
          "mtmPnl": "110.0000",
          "reportedMtmPnl": "120.0000",
          "reportedFundingPnl": "130.0000",
          "realizedPnl": "140.0000",
          "settlementAssetSymbol": "USDC",
          "eventType": "settlementUpdate",
          "createdAtDatetime": "2020-01-01T00:00:00.000Z",
          "createdAtTimestamp": "1577836800000",
          "updatedAtDatetime": "2020-01-02T00:00:00.000Z",
[...]
