openapi: 3.0.0
servers:
  - url: https://api.exchange.bullish.com/trading-api/v1
    description: PRODUCTION
  - url: https://registered.api.exchange.bullish.com/trading-api/v1
    description: PRODUCTION (Cloudflare Bypass)
  - url: https://api.bugbounty.bullish.com/trading-api/v1
    description: SECURITY SANDBOX
  - url: https://api.simnext.bullish-test.com/trading-api/v1
    description: API SANDBOX
  - url: https://registered.api.simnext.bullish-test.com/trading-api/v1
    description: API SANDBOX (Cloudflare Bypass)
info:
  description: |
    # Overview

    Welcome to the _Bullish Trading API_ documentation!

    This documentation provides resource descriptions and endpoints usage instructions for the API.

    The API:
    - follows [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) conventions
    - has the base URL `api.exchange.bullish.com` (unless one of the sandbox environments is being used)
    - has endpoints under the below categories:
      - Authenticated endpoints for private client data e.g. [Get Orders](#get-/orders) endpoint
      - Non-authenticated endpoints for public data e.g. [Get Markets](#get-/markets) endpoint
    - uses bearer-based authentication
    - enforces a blanket rate limit across all requests
    - may add new fields to existing response payloads. Please do not use strict deserialisation as it may cause compatibility issues.
    
    # Code Examples
    
    Find further code examples at - https://github.com/bullish-exchange
    
    # FIX API
    
    The FIX API is available to institutional clients and is only accessible through a AWS or GCP private connection:
    - AWS PrivateLink
      - It provides private connectivity between VPCs, AWS service without exposing your traffic to the public internet. 
      Bullish will provide the published service IDs for this service. You will be able to connect to our FIX service endpoint once the connection has been successfully established.
    - GCP Private Service Connect
      - It allows customers to access managed services privately from inside their VPC network.
      Bullish will provide the published service IDs for this service. You will be able to connect to our
      FIX service endpoint once the connection has been successfully established.
    
    
    For more details please refer to the full specification:
    - [Bullish FIX Protocol Specification](../../../fix-api/Bullish%20FIX%20Protocol%20Specification%20v1.0.4.pdf) 
    - [Bullish FIX Protocol Dictionary](../../../fix-api/fix-dictionary.xml)
    
    
    # Exchange Time

    All timestamps are specified in [EPOCH time](https://en.wikipedia.org/wiki/Unix_time).

    # Pagination Support

    If specified in the API documentation, an endpoint may return cursor paginated responses. Default page size is 25.

    There are 4 special query parameters used to control the pagination behaviour.
    - `_pageSize` can be one of `5, 25, 50, 100`, default value is `25`
    - `_metaData` can be false/true, if false the links are NOT part of the response. explicitly set `_metaData=true` to guarantee links are returned.
    - `_nextPage` cursor to the next page. It is provided in the paginated response when `_metaData=true`.
    - `_previousPage` cursor to the previous page. It is provided in the paginated response when `_metaData=true`.

    The paginated data is returned in the following wrapped format with generated links to the previous and next pages:
    ```json
    {
      "data": [
        {
          "averageFillPrice": null,
          "baseFee": "0.00000000",
          "createdAtDatetime": "2018-11-18T00:00:00.000Z",
          "createdAtTimestamp": "1639464207402",
          "handle": null,
          "margin": false,
          "orderId": "390755652232282113",
          "price": "8520.7000",
          "quantity": "1.00000000",
          "quantityFilled": "0.00000000",
          "quoteFee": "0.0003",
          "side": "BUY",
          "status": "OPEN",
          "statusReason": "Open",
          "statusReasonCode": "6001",
          "stopPrice": null,
          "symbol": "BTCUSD",
          "timeInForce": "GTC",
          "type": "LMT"
        },
        ...
      ],
      "links": {
        "next": "/trading-api/v1/orders?_pageSize=5&symbol=BTCUSD&_nextPage=Mjk3NzM1MzQ5NDI0NjIwMDMy",
        "previous": "/trading-api/v1/orders?_pageSize=5&symbol=BTCUSD&_previousPage=Mjk3NzM1Mzg3NzQ3OTc1Njgw"
      }
    }
    ```


    # Filtering Support
    
    - If specified in the API documentation, an endpoint may support filters on specific fields and values e.g. `GET /orders?status=OPEN`     
    - Only fields returned in an API response may be used as filter parameters. What you see is what you query on and by.
    - For the fields in the API response usable as filter parameters, please consult the API endpoint of interest.
    - Datetime and timestamp filters require additional keywords from this list - `[ gte, lte, gt, lt ]`. A few examples are provided below.
      - `/trading-api/v1/trades?createdAtTimestamp[gte]=1686447835000` queries for trades with `createdAtTimestamp` 
        greater than or equal to `1686447835000`.
      - `/trading-api/v1/trades?createdAtDatetime[gte]=2023-04-06T00:00:00.000Z&createdAtDatetime[lte]=2023-06-07T00:00:00.000Z` 
        queries for trades with `createdAtDatetime` greater than or equal to `2023-04-06T00:00:00.000Z` but less than or equal to `2023-06-07T00:00:00.000Z`
    - By design, pagination query parameters start with an underscore. This differentiates them from filter query parameters e.g. `GET /orders?status=OPEN&_pageSize=25`

    # Rate Limits
    
    ## Rate Limits per IP address
    
    Each IP address is subject to a blanket rate limit of 500 requests per 10 seconds (approximately 50 requests per second).
    If an IP address is rate limited, the http response status code will be `429 Too Many Requests` and the IP address
    is blocked from making any requests for 60 seconds.

    ## Global Rate Limit
    
    The global rate limit is an additional rate limit specific to the exchange. It is used to help limit the flow of orders into the exchange. It affects all clients fairly. 
    When the global rate limit is breached the `x-ratelimit-global-breach` header value will be set to `true` else `false`.
    
    ## Rate Limits per API category

    In addition, API endpoints denoted by `Ratelimited: True` in the description are also subject to rate limits.
    e.g. [Create Order](#post-/orders). The API endpoints fall under the below categories. The rate limit for each category is *independently* applied.
    
    - Unauthenticated endpoints, rate limited at 50 requests per second.
    - Authenticated `/orders` endpoints, rate limited at 50 requests per second.
    - Other Authenticated endpoints, rate limited at 50 requests per second.
    
    ## Rate Limits Info
    
    When rate limits are not exceeded, the http response header of the API endpoint called will contain the below:
    - `x-ratelimit-limit`: Maximum number of requests allowed for the specific API category within time period.
    - `x-ratelimit-remaining`: Remaining number of requests allowed for the specific API category within time period.
    - `x-ratelimit-reset`: The next time period in which `x-ratelimit-remaining` is reset back to the maximum allowed for the specific API category.
    - `x-ratelimit-global-breach`: true/false, indicating whether the global limit has been breached.

    ## Exceeding Rate Limits
    When rate limits are exceeded, the API endpoint will return the http response status code `429 Too Many Requests` and the http response body will be:
    ```json
      {
        "errorCode": 96000,
        "errorCodeName": "RATE_LIMIT_EXCEEDED",
        "message": "Rate limit exceeded"
      }
    ```

    ## Exceeding The Global Rate Limit
    When the global rate limit is exceeded, the API endpoint will return the http response status code `429 Too Many Requests` and the http response body will be:
    ```json
      {
        "errorCode": 96001,
        "errorCodeName": "GLOBAL_RATE_LIMIT_EXCEEDED",
        "message": "Global rate limit exceeded"
      }
    ```

    ## Increasing Rate Limits
    
    Bullish has a tiered rate limit offering based on volume. 
    
    |                   | Default       | 30-Day Volume between $1B USD and $2B USD | 30-Day Volume over $2B USD |
    | ----------------- |-------------- |------------------------------------------ |--------------------------- |
    | Cloudflare        | 50 msgs/sec   | same as default                           | same as default            |
    | Cloudflare Bypass | 100 msgs/sec  | up to 200 msgs/sec                        | up to 500 msgs/sec         |
    
    For more information on increasing your rate limits, please reach out to your sales representative.
    
    ## Obtaining Your Rate Limit Token
    
    Each trading account has a unique rate limit token that can be obtained by querying [Get Trading Accounts](#get-/accounts/trading-accounts).
    The rate limit token must be provided in the HTTP request header `BX-RATELIMIT-TOKEN` to enjoy higher tiers of rate limits 
    else the default of 50 msgs/sec is applied.

    # Price And Quantity Precision
    
    A market consists of two assets, namely base asset and quote asset.
    For instance, the `BTCUSD` market has `BTC` as base asset and `USD` as quote asset.
    The price of a market is denominated in the quote asset, while the quantity is denominated in the base asset.
    For instance, the price in `BTCUSD` market is in `USD` while the quantity is in `BTC`. 
    Each asset has its own precision. For this, the below asset APIs can be queried.
    
    - The [Get Assets](#get-/assets) API endpoint for all supported asset symbols
    - The [Get Asset By Symbol](#get-/assets/-symbol-) API endpoint for a specific asset symbol
    
    The precision of an asset is the number of decimal places used to express its value in.
    For instance, the quantity in the market `BTCUSD` is in BTC. As BTC has a precision of 8, the quantity in `BTCUSD` has 8 decimal places.
    It follows that in order to express a quantity of 1 BTC in `BTCUSD` market, it has to be `1.00000000` BTC.
    
    Alternatively, the below market APIs can also be queried to obtain the price and quantity precisions for different markets.
    
    - The [Get Markets](#get-/markets) API endpoint for all supported market symbols
    - The [Get Market By Symbol](#get-/markets/-symbol-) API endpoint for a specific market symbol
    
    Following the logic outlined above, 
    - The precision for quantity is defined by the `basePrecision`
    - The precision for price is defined by `quotePrecision`


    # Numeric Identifier Contraints

    Numeric identifiers such as `nonce` and `handle` should not have leading zero's. For example `009990822212000000` is invalid but `9990822212000000` is valid.

    # Order timeInForce

    The order `timeInForce` can be set to the following values:
    - `GTC` - good until cancelled - the order is open forever unless fully filled or cancelled
    - `FOK` - fill or kill - if the order cannot immediately be filled in full it is cancelled
    - `IOC` - immediate or cancel - the order is immediately filled in full or in part and any remainder is cancelled
    
    # Error & Rejection Codes

    Details of `statusReasonCode` and `statusReason` can be referenced from [Error & Rejection Codes](https://github.com/bullish-exchange/api-docs/wiki/Error-&-Rejection-Codes) 

    # Authentication

    The API uses bearer based authentication. A JWT token is valid for 24 hours only. To generate a JWT token see - [Generate A JWT Token](#overview--generate-a-jwt-token)

    # How To Send Authenticated Requests

    To send an authenticated request, you must follow these steps:
    1. [Generate An API Key](#overview--generate-an-api-key)
    2. [Get Your Bullish Account Id](#overview--get-your-bullish-account-id)
    3. [Add Authenticated Request Header](#overview--add-authenticated-request-header)
    4. [Generate A JWT Token](#overview--generate-a-jwt-token)
    5. [Construct The BX-NONCE Header](#overview--construct-the-bx-nonce-header)
    6. [Construct The Command You Want To Send](#overview--construct-the-command-you-want-to-send)
    7. [Construct The BX-SIGNATURE Header](#overview--construct-the-bx-signature-header)
    8. [Fetch Trading Account Ids](#overview--fetch-trading-account-ids)
    9. [Send The HTTP Authenticated Request](#overview--send-the-HTTP-authenticated-request)
    10. [How To Ensure The Order Of *Create Order* or *Cancel Order* Requests](#overview--how-to-ensure-the-order-of-create-order-or-cancel-order-requests)

    ## Generate An API Key

    A prerequisite to generate API keys is to have a Bullish account. To generate an API key follow these steps:

    1. Log in into your Bullish account
    2. Click on your account initials at the upper right corner and then click **Settings**
    3. Click **API Keys** and then click **Add API Key**
    4. Select the API Key type, either Bullish or HMAC
    5. Enter a key name in the *Key Name* field and click *Generate API Key*

    ### Bullish API Key Notes

    - A Bullish API key is a public/private key pair used for EDDSA based signing of trading API requests
    - The private key is what you will use to sign your requests
    - From here on the:
      - public key will be referred to as `PUBLIC_KEY`
      - private key will be referred to as `PRIVATE_KEY`
    - For information about the format of keys please review [EOS Wallet Specification](https://developers.eos.io/manuals/eos/v2.0/keosd/wallet-specification)
    - Always store your private keys in a secure medium as they are used to sign your requests. Do not share your private keys in any publicly accessible areas such as code repositories, client side code, or other vulnerable areas and make sure the keys are not shipped with your mobile or web apps.

    A Bullish API key additionally has a `metadata` string assoicated with it which is displayed along side the key.
    You must base64 decode the `metadata` to extract your `userId` (example follows). You will need the `userId` in the next step.
    Please note that the `accountId` field is deprecated, and will be removed along with `v1/users/login` API towards the end of Q2 2023. Clients should reference the `userId` field instead.
    Old `metadata` strings generated before the March 2023 upgrade will not contain the `userId` field; clients are advised to get the `metadata` from the Settings page on the UI again.

    ```shell
    echo eyJwdWJsaWNLZXkiOiJQVUJfUjFfNWNpVW52TW5rVThMOVBCWnZaa1BGcjhqdkRnUHpzcHhWNGlqOThIN1JqM1FSNzJyMkEiLCJhY2NvdW50SWQiOjIyMjAwMDAwMDAwMDAwNCwiY3JlZGVudGlhbElkIjoiMTAifQ== | base64 --decode
    {"publicKey":"PUB_R1_5ciUnvMnkU8L9PBZvZkPFr8jvDgPzspxV4ij98H7Rj3QR72r2A","userId":"12345","accountId":"12345","credentialId":"10"}
    ```
    
    ### HMAC API Key Notes
    
    - A HMAC API Key is a shared secret key that is used for HMAC based signing
    - Always store your HMAC secret in a secure medium as they are used to sign your requests
    - You do not need the `metadata` string to extract your `userId` like you would a Bullish API Key
    - HMAC API Keys can only be used for Trading on Bullish; the JWT generated using an HMAC API Key is only valid for trading endpoints.

    ## Add Authenticated Request Header

    Each authenticated request must include a `Authorization` header:
      - `Authorization: Bearer <JWT_TOKEN>`

    The JWT is valid for 24 hours.

    ### Bullish API Key
    To generate/get a JWT token for a Bullish API Key you will need to perform the following request:

    #### POST /trading-api/v2/users/login

    - Body
      - `publicKey` - bullish account public key
      - `userId` - bullish user id corresponding to the metadata
      - `signature` - signed JSON string encoding of `loginPayload`, see the code sample for how to get it
      - `expirationTime` - epoch timestamp in seconds that is 5 minutes in the future
      - `nonce` - epoch timestamp in seconds; note this login API nonce has no connection to the orders API nonce
      - `biometricsUsed` - set to `false`
      - `sessionKey` - set to `null`

    ```json
    {
      "publicKey": "<PUBLIC_KEY>",
      "signature": "<SIGNATURE>",
      "loginPayload": {
        "userId": "100008771"
        "nonce": 1638776636,
        "expirationTime": 1638776936,
        "biometricsUsed": false,
        "sessionKey": null
      }
    }
    ```

    - Response

    ```json
    {
      "authorizer": "<AUTHORIZER>",
      "token": "<JWT_TOKEN>"
    }
    ```

    #### POST /trading-api/v1/users/login (Deprecated - the endpoint will be removed towards the end of Q2 2023)

    - Body
      - `publicKey` - bullish account public key
      - `accountId` - bullish account id corresponding to the metadata
      - `signature` - signed JSON string encoding of `loginPayload`, see the code sample for how to get it
      - `expirationTime` - epoch timestamp in milliseconds that is 5 minutes in the future
      - `nonce` - epoch timestamp in milliseconds; note this login API nonce has no connection to the orders API nonce
      - `biometricsUsed` - set to `false`
      - `sessionKey` - set to `null`

    ```json
    {
      "publicKey": "<PUBLIC_KEY>",
      "signature": "<SIGNATURE>",
      "loginPayload": {
        "accountId": "100008771"
        "nonce": 1638776636,
        "expirationTime": 1638776936,
        "biometricsUsed": false,
        "sessionKey": null
      }
    }
    ```

    - Response

    ```json
    {
      "authorizer": "<AUTHORIZER>",
      "token": "<JWT_TOKEN>"
    }
    ```

    See [generate JWT](https://github.com/bullish-exchange/api-examples/blob/master/generate_jwt.py) for a sample Python script.
    
    ### HMAC API Key
    To generate/get a JWT token for a HMAC API Key you will need to perform the following request:
    
    #### GET /trading-api/v1/users/hmac/login
    
    - Response
    
    ```json
    {
      "authorizer": "<AUTHORIZER>",
      "token": "<JWT_TOKEN>"
    }
    ```
    
    You will need to provide a series of headers along with the request in order to successfully generate a JWT token.
    
    - `BX-TIMESTAMP` - number of milliseconds since EPOCH
    - `BX-NONCE` - client side incremented 64-bit unsigned integer
    - `BX-PUBLIC-KEY` - Public key for the HMAC Key being used to generate the JWT
    - `BX-SIGNATURE` - The signed message related to the login request. Outlined below
    
    To sign the login request for an HMAC API Key login we will need to construct a string that concatenates the following fields:
    - timestamp - value provided for the `BX-TIMESTAMP` header
    - nonce - value provided for the `BX-NONCE`
    - request method - `GET`
    - request path - `/trading-api/v1/users/hmac/login`
    
    See [generate JWT](https://github.com/bullish-exchange/api-examples/blob/master/generate_jwt.py) for a sample Python script.
    
    ## Logout using a JWT Token
    Users can better manage their sessions by logging out of unused sessions. This can be done by calling the `GET /trading-api/v1/users/logout` endpoint with the JWT Token in the header - see [Add Authenticated Request Header](#overview--add-authenticated-request-header).
    
    ## Construct The BX-NONCE Header

    The header `BX-NONCE` value is a unique client-side 64-bit unsigned integer. It has the following characteristics:

    - Each request the client sends how have incrementing `BX-NONCE` value
    - To prevent a client to send the max value of a 64-bit unsigned integer and thus immediately exhaust all unique nonces
    the exchange will only accept a nonce within a specified range
    - The lower and upper bounds of the current nonce range are specified by nonce endpoint e.g. `GET /nonce`
    - The nonce range is updated daily
    - The nonce `lowerBound` is the start of day EPOCH timestamp in micro seconds
    - The nonce `upperBound` is the end of day EPOCH timestamp in micro seconds

    ## Construct The Command You Want To Send

    Each authenticated request contains a `<COMMAND>` to be executed by the API.
    A `<COMMAND>` has the following properties:

      - A `<COMMAND>` is JSON encoded
      - Every field in the JSON payload must have a value. Use `null` to represent the absence of a value
      - The fields must be specified and encoded in the order presented in this documentation

    Find below two `<COMMAND>` examples:
    1. [Create Spot Order](#overview--create-spot-order-example)
    2. [Create Margin Order](#overview--create-margin-order-example)
    2. [Cancel Order](#overview--cancel-order-example)

    ### Create Spot Order Example

    To create a Spot buy limit order:
    - for the BTCUSD market
    - at a price of `55071.5000`
    - for a quantity of `1.87000000`
    - with a time-in-force of `GTC` (good till cancelled)

    The COMMAND would be constructed like below:

    ```json
    {
      "timestamp": "<TIMESTAMP>",
      "nonce": "<NONCE>",
      "authorizer": "<AUTHORIZER>",
      "command": {
        "commandType": "V2CreateOrder",
        "handle": null,
        "symbol": "BTCUSD",
        "type": "LMT",
        "side": "BUY",
        "price": "55071.5000",
        "stopPrice": null,
        "quantity": "1.87000000",
        "timeInForce": "GTC",
        "allowMargin": false,
        "tradingAccountId": "111234567890" 
      }
    }
    ```
    
    ### Create Margin Order Example
    
    With reference to the same payload in [Create Spot Order](#overview--create-spot-order-example), setting the field `allowMargin` to `true` will make it a margin order.
    
    Documentation is available [here](https://github.com/bullish-exchange/api-docs/blob/master/src/trading-api/next/v2/websocket-private-data-update-messages-for-borrowers.pdf) on what happens in the event of liquidation.

    ### Cancel Order Example

    To cancel a buy limit order:
    - for the BTCUSD market
    - where the `orderId` is `390755251743358977`

    The COMMAND would be constructed like below:

    ```json
    {
      "timestamp": "<TIMESTAMP>",
      "nonce": "<NONCE>",
      "authorizer": "<AUTHORIZER>"
      "command": {
        "commandType": "V2CancelOrder",
        "orderId": "390755251743358977",
        "handle": null,
        "symbol": "BTCUSD",
        "tradingAccountId": "111234567890"
      }
    }
    ```
    ### Add Amm instruction 
    
    ```json
    {
      "timestamp": "1621490985000",
      "nonce": "123456789",
      "authorizer": "03E02367E8C900000500000000000000",
      "command": {
        "commandType": "V2AddLiquidity",
        "symbol": "BTCUSD",
        "baseQuantity": "0.00000000",
        "quoteQuantity": "0.00000000",
        "upperBound": "14000.0000",
        "lowerBound": "12000.0000",
        "feeTierId": "1",
        "tradingAccountId": "111234567890"
      }
    }
    ```
    ### Remove Amm instruction
    ```json
    {
      "timestamp": "<TIMESTAMP>",
      "nonce": "<NONCE>",
      "authorizer": "<AUTHORIZER>"
      "command": {
        "commandType": "V2RemoveLiquidity",
        "liquidityId": "557839859386417160",
        "symbol": "BTCUSD",
        "tradingAccountId": "111234567890"
      }
    }
    ```
    
    ### Command for Transfer Asset 
    `POST /trading-api/v1/command?commandType=V1TransferAsset`
    
    ```json
    {
      "timestamp": "<TIMESTAMP>",
      "nonce": "<NONCE>",
      "authorizer": "<AUTHORIZER>"
      "command": {
        "commandType": "V1TransferAsset",
        "assetSymbol": "USD",
        "quantity": "7.0000",
        "fromTradingAccountId": "11123456789",
        "toTradingAccountId": "11198765432"
      }
    }
    ```
    
    ## Construct The BX-SIGNATURE Header

    Set the `BX-SIGNATURE` header to the value resulting from signing the `<COMMAND>`.

    Before signing the `<COMMAND>` string remove any spaces and newline characters.

    The resulting value is also referred to as the request signature. Each component of the signature is detailed below:
      - `<TIMESTAMP>`: number of milliseconds since EPOCH
      - `<NONCE>`: client side incremented 64-bit unsigned integer
      - `<AUTHORIZER>`: JWT authorizer you obtain along with the [JWT token](#overview--generate-a-jwt-token)
      - `<COMMAND>`: the command which is sent in the request payload, JSON encoded

    #### How To Sign - Bullish API Key
    
    To obtain the signature:

    1. Encode the request JSON payload, also referred to as body, with the SHA-256 hash function and take the hexdigest
    2. Sign the hexdigest from step 1 with ECDSA P-256 using your `<PRIVATE_KEY>`
    3. Various signing examples can be found on [GitHub](https://github.com/bullish-exchange)
    
    #### How To Sign - HMAC API Key
    
    To obtain the signature:
    
    1. Encode the request JSON payload, also referred to as body, with the SHA-256 hash function and take the hexdigest
    2. Sign the hexdigest from step 1 with your HMAC Secret Key.
    
    See [sign a request with HMAC](https://github.com/bullish-exchange/api-examples/blob/master/create_order_hmac_v2.py) for a sample Python script.

    ## Fetch Trading Account Ids
    
    Trading Account Ids may be required by some endpoints. They can be fetched from [Get All Trading Accounts](#get-/accounts/trading-accounts).
    
    See an API example [Here](https://github.com/bullish-exchange/api-examples/blob/master/get_trading_accounts.py).

    ## Send The HTTP Authenticated Request

    See [create an order](https://github.com/bullish-exchange/api-examples/blob/master/create_order.py) for a sample Python script.

    ## How To Ensure The Order Of *Create Order* or *Cancel Order* Requests

    To ensure the order of the *create order* or *cancel order* requests,
    you must wait for an acknowledgement response which will contain the `orderId`
    generated on the server side.
    Also remember that the `nonce` parameter, for these two requests, must be a
    unique increasing integer value.

    For example, let us assume the following:
    * You sent 10 *create order* requests in a row without waiting for an `orderId`
    * The `nonce` increases with each request sent and thus
    * The `nonce` is unique for each request

    Because the requests received by the Bullish exchange are processed in parallel
    the following two possible scenarios can happen:
    * *happy scenario* which has a small chance to occur: all 10 requests are
    processed in the exact order sent by the client, no error, all great and you
    are happy
    * *unhappy scenario* which has a higher chance to occur: the requests are not
    processed in the exact order sent by you, because the requests might arrive at the
    bullish processing server at different times and thus the validations
    of the `nonce` for each request take place at random times. Because of that all
    the requests that are validated and have the `nonce` higher than the latest
    valid `nonce` will be accepted as valid and the ones which have the `nonce`
    smaller than the last valid `nonce` will be considered invalid and dropped.
    In the worse case scenario the request with the highest `nonce`, the 10th request
    you sent, is validated first, and the rest of the 9 requests will fail the
    validation because they have the `nonce` smaller than the 10th.
    Also if some requests are failing because of some other errors, e.g. incorrect
    inputs or internal error, you will not know because you did not wait for the
    acknowledgement from the server side for each request you sent.

    If you wait the acknowledgement from the server side you ensure the order of
    the requests you sent and you can also verify the status of the order(s) you
    created or cancelled.
    
    ## How To Enable Out-Of-Order Processing of Order Requests
    The header `BX-NONCE-WINDOW-ENABLED` is a string representation of a boolean value which enables out-of-order 
    processing of *Create Order* or *Cancel Order* requests up to a window size of 100 from the highest previously used
    `nonce` value (inclusive).
    
    The `nonce` parameter is required to be both unique and incremental, but setting `BX-NONCE-WINDOW-ENABLED` to `true` 
    loosens this requirement such that the `nonce` is only required to be `unique`. For example, the client is able to 
    send `nonce` values from `1...100` in any order and all the values will be valid.   

    # WebSockets

    Connection request to the web-socket uses bearer based authentication similar to our HTTP authenticated requests.
    To generate a JWT token see - [Generate A JWT Token](#overview--generate-a-jwt-token). Each web-socket exposes a set of
    topics that can be subscribed to.

    ## Servers
      - `wss://api.exchange.bullish.com` - PRODUCTION
      - `wss://registered.api.exchange.bullish.com` - PRODUCTION (Cloudflare Bypass)
      - `wss://api.simnext.bullish-test.com` - SANDBOX
      - `wss://registered.api.simnext.bullish-test.com` - SANDBOX (Cloudflare Bypass)

    ## Max Open WebSocket Connections
    
    Each WebSocket category has a maximum number of open connections. Once it is reached, new WebSocket requests will be rejected. 
    The WebSocket connections fall under the below categories.
    
    - Unauthenticated WebSockets, maximum of 100 open connections per IP address.
    - Authenticated WebSockets, maximum of 10 open connections per API key.
    
    ## Send A Message Over The Web Socket

    Messages sent by the client to the server over a web-socket follows the
    [JSON-RPC 2.0 Specification](https://www.jsonrpc.org/specification). The server then returns a response following
    the same JSON-RPC 2.0 format. The `id` field sent by the client will be included in the response, allowing the
    client to map the server's responses to the messages sent by the client. The client ensures the uniqueness of the
    `id` field.

    Find below the message types accepted by the web-socket:
      1. [Subscription Message](#overview-subscribe-to-a-topic)
      2. [Keepalive Ping Message](#overview-keep-web-socket-open)

    ### Subscribe To A Topic

    Subscribe to receive a snapshot of your existing data and subsequently receive updates.

    Two types of subscription:
      1. Subscribe by `<TOPIC>`
      2. Subscribe by `<TOPIC>` and `<SYMBOL>`

    Message fields:
      - `<TOPIC>`: subscription topic
      - `<SYMBOL>`: market symbol
      - `<COMMAND_ID>`: unsigned long value

    The subscription message would be constructed like below:

    Subscribe by `<TOPIC>`
    ```json
    {
      "jsonrpc": "2.0",
      "type": "command",
      "method": "subscribe",
      "params": {
          "topic": "<TOPIC>",
      },
      "id": "<COMMAND_ID>"
    }
    ```

    Subscribe by `<TOPIC>` and `<SYMBOL>`
    ```json
    {
      "jsonrpc": "2.0",
      "type": "command",
      "method": "subscribe",
      "params": {
          "topic": "<TOPIC>",
          "symbol": "<SYMBOL>",
      },
      "id": "<COMMAND_ID>"
    }
    ```

    Sample subscription message:
    ```json
    {
      "jsonrpc": "2.0",
      "type": "command",
      "method": "subscribe",
      "params": {
          "topic": "orders"
      },
      "id": "1611082473000"
    }
    ```

    Find below the available `<TOPIC>`:
      1. [Market Data Web Socket](#overview--market-data-websocket)
      2. [Private Data Web Socket](#overview--private-data-websocket)


    ### Keep Web Socket Open

    Keep the web-socket connection open by sending keepalive ping messages periodically.
    The web-socket closes automatically after 5 minutes.


    The keepalive ping message would be constructed like below:

    ```json
    {
      "jsonrpc": "2.0",
      "type": "command",
      "method": "keepalivePing",
      "params": {},
      "id": "<COMMAND_ID>"
    }
    ```


    ## Receive A Message From The Web Socket

    JSON-RPC responses are of the following format:

    Success responses
    ```json
    {
      "jsonrpc": "2.0",
      "id": "1650865877698",
      "result": {
        "responseCode": "200",
        "responseCodeName": "OK",
        "message": "Successfully subscribed"
      }
    }
    ```

    Error responses
    ```json
    {
      "jsonrpc": "2.0",
      "id": "1650865877698",
      "error": {
        "code": "-32602",
        "errorCode": "29013",
        "errorCodeName": "INVALID_TOPIC_ERROR",
        "message": "'a-random-topic' is not a valid topic"
    }
    ```

    - `code`: [JSON-RPC 2.0 error code](https://www.jsonrpc.org/specification)
    - `responseCode`/`errorCode`: unique ID for response/error code
    - `responseCodeName`/`errorCodeName`: unique name for response/error code
    - `message`: textual description of the `responseCode`/`errorCode`


    Snapshot responses are of the following format:
    ```json
    {
      "type": "snapshot",
      "dataType": "<DATA_TYPE>",
      "data": [ { <TOPIC_RESPONSE> } ]
    }
    ```

    Update responses are of the following format:
    ```json
    {
      "type": "update",
      "dataType": "<DATA_TYPE>",
      "data": { <TOPIC_RESPONSE> }
    }
    ```

    Error responses are of the following format:
    ```json
    {
      "type": "error",
      "dataType": "V1TAErrorResponse",
      "data": {
        "errorCode": <ERROR_CODE>,
        "errorCodeName": "<ERROR_CODE_NAME>",
      }
    }
    ```

    ### Hybrid OrderBook WebSocket (unauthenticated)
    **Route**
    - `/trading-api/markets/{symbol}/orderbook/hybrid`
    - `/trading-api/v2/market-data/orderbook/hybrid/{symbol}?depth={depth}&aggregationFactor={aggregationFactor}`
    
    **Additional notes**: 
    - Allowable depths - `[ 10, 50, 100, 200 ]`.
    - Allowable aggregation factors - `[ 1, 5, 10 ]`.
    - This endpoint does not require subscriptions.

    On connection, the client receives a snapshot of the current hybrid orderbook with default depth of 10 (unless specified otherwise). 
    Subsequently, if the orderbook moves, the client then receives a conflated update of the hybrid orderbook periodically 
    at 300ms with standard ingress and at 100ms with Cloudflare bypass. If there is a sequence number mismatch between the 
    conflated update and the snapshot, the server disconnects the client with the following error message - 
    `4003 (Try Again, sequence number miss-match between snapshot and updates)`.

    #### l2Snapshot response

    | Name                    | Type   | Description                                                                                                                                                                                                              |
    |---------------------    |--------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
    | bids                    | Array  | array of size 20 (default unless specified otherwise by the `depth` parameter) where even indices denote price, odd indices denote absolute quantities                                                                   |
    | asks                    | Array  | array of size 20 (default unless specified otherwise by the `depth` parameter) where even indices denote price, odd indices denote absolute quantities                                                                   |
    | sequenceNumberRange     | Array  | array of size 2 where first element denotes lower bound, second element denotes upper bound of sequence numbers <br /> lower and upper bound are equal for initial snapshot; this may differ for subsequent snapshots    |
    | datetime                | String | denotes the time the update was created by the engine, ISO 8601 with millisecond as string                                                                                                                               |
    | timestamp               | String | denotes the time the update was created by the engine                                                                                                                                                                    |
    | publishedAtTimestamp    | String | denotes the time the update was broadcasted to connected websockets                                                                                                                                                      |

    ```json
    {
      "type": "snapshot",
      "dataType": "V1TALevel2",
      "data": {
        "bids": [
          "5199.5000",
          "110.92467647",
          "5199.4000",
          "20.92470365",
          "5199.3000",
          "0.92473034",
          "5199.2000",
          "0.92475701",
          "5199.1000",
          "0.92478369",
          "5199.0000",
          "0.92481038",
          "5198.9000",
          "0.92483705",
          "5198.8000",
          "0.92486375",
          "5198.7000",
          "0.92489042",
          "5198.6000",
          "0.92491712"
        ],
        "asks": [
          "5199.6000",
          "96.37848193",
          "5199.7000",
          "0.92465082",
          "5199.8000",
          "11.04464563",
          "5199.9000",
          "0.92459696",
          "5200.0000",
          "0.92457029",
          "5200.1000",
          "0.92454362",
          "5200.2000",
          "0.92451695",
          "5200.3000",
          "0.92449028",
          "5200.4000",
          "0.92446361",
          "5200.5000",
          "0.92443695"
        ],
        "sequenceNumberRange": [6, 6],
        "datetime": "2020-05-13T10:23:46.000Z",
        "timestamp": "1589365426000",
        "publishedAtTimestamp": "1589365426100",
      }
    }
    ```


    #### l2Update response

    | Name                  | Type   | Description                                                                                                                                                |
    |---------------------  |--------|------------------------------------------------------------------------------------------------------------------------------------------------------------|
    | bids                  | Array  | even indices denote price, odd indices denote absolute quantities                                                                                          |
    | asks                  | Array  | even indices denote price, odd indices denote absolute quantities                                                                                          |
    | sequenceNumberRange   | Array  | array of size 2 where first element denotes lower bound, second element denotes upper <br /> bound of sequence numbers represented by the conflated update |
    | datetime              | String | denotes the time the update was created by the engine, ISO 8601 with millisecond as string                                                                 |
    | timestamp             | String | denotes the time the update was created by the engine                                                                                                      |
    | publishedAtTimestamp  | String | denotes the time the update was broadcasted to connected websockets                                                                                        |

    ```json
    {
      "type": "update",
      "dataType": "V1TALevel2",
      "data": {
        "bids": [],
        "asks": ["5199.7000", "101.30313224"],
        "sequenceNumberRange": [7, 10],
        "datetime": "2020-06-29T06:28:55.500Z",
        "timestamp": "1593412135500",
        "publishedAtTimestamp": "1593412135600",
      }
    }
    ```

    #### Maintaining Hybrid OrderBook
    1. Connect to hybrid orderbook WebSocket API.
    2. Receive initial snapshot message.
    3. Record sequence number and create orderbook.
    4. Compare current sequence number with that of new message. If sequence number is out of order, reconnect.
    5. Receive update messages of price levels with new absolute quantity and update orderbook.
       If quantity is 0, price level is removed.
    6. Receive a subsequent snapshot message and reset existing orderbook. Create orderbook with new price levels.

    See [connect to hybrid orderbook web-socket](https://github.com/bullish-exchange/api-examples/blob/master/l2_orderbook_web_socket.py) for a sample Python script.
    
    ### Anonymous Trades WebSocket (unauthenticated)
    **Route**
    - `/trading-api/v1/market-data/trades/{symbol}`

    **Note**: This endpoint does not require subscriptions.

    On connection, the client receives a snapshot of the latest 100 trades, in descending order. Subsequently,
    the client receives real-time updates of trades that have been executed. If the `tradeId` of an incoming update is 
    smaller than that of a previously received update, then the `tradeId` is out of order. Terminate the 
    web-socket connection and reconnect.

    #### trades response

    | Name               | Type      | Description                                                                               |
    |:-------------------|:----------|:------------------------------------------------------------------------------------------|
    | tradeId            | String    | unique trade ID                                                                           |
    | symbol             | String    | market symbol                                                                             |
    | price              | String    | price, see [asset value](#overview--price-and-quantity-precision) format                  |
    | quantity           | String    | quantity, see [asset value](#overview--price-and-quantity-precision) format               |
    | side               | String    | order side                                                                                |
    | isTaker            | Boolean   | denotes whether this is a taker's trade                                                   |
    | createdAtTimestamp | String    | denotes the time the order was ACK'd by the exchange                                      |
    | createdAtDatetime  | String    | denotes the time the order was ACK'd by the exchange, ISO 8601 with millisecond as string |

    ```json
    {
      "type": "update",
      "dataType": "V1TAAnonymousTrade",
      "data": {
        "tradeId": "100000000000001050",
        "symbol": "BTCUSD",
        "price": "11528.2203",
        "quantity": "1.00000000",
        "side": "BUY",
        "isTaker": true,
        "createdAtTimestamp": "1662453438774",
        "createdAtDatetime": "2022-09-06T08:37:18.774Z"
      }
    }
    ```
    
    See [connect to trades web-socket](https://github.com/bullish-exchange/api-examples/blob/master/trades_web_socket.py) for a sample Python script.

    ### Market Data WebSocket (authenticated)
    Route
    - `/trading-api/v1/market-data`

    | Topic         |  Description                              | Data Type        | Subscription Type           |
    |:--------------|:------------------------------------------|:-----------------|:----------------------------|
    | l1Orderbook   | Provides updates for Level 1 market data  | `V1TABookLevel1` | By `<TOPIC>` and `<SYMBOL>` |

    #### l1Orderbook response
    
    -
    
    
    - Level 1 market data updates are realtime.
    - If the `sequenceNumber` of an incoming update is smaller than that of a previously received update, then the
    `sequenceNumber` is out of order. Terminate the web-socket connection and reconnect.

    | Name           | Type   | Description                                                                          |
    |:---------------|:-------|:-----------------------------------------------------------------                    |
    | sequenceNumber | String | incrementing, unique, unsigned integer that identifies a state of the L1-orderbook   |
    | symbol         | String | market symbol                                                                        |
    | timestamp      | String | denotes the time the update was created                                              |
    | bid            | Array  | nested array containing price and quantity of highest bid                            |
    | ask            | Array  | nested array containing price and quantity of lowest ask                             |

    ```json
    {
      "type": "update",
      "dataType": "V1TABookLevel1",
      "data": {
        "sequenceNumber": "1",
        "symbol": "BTCUSD",
        "timestamp": "1466812800000",
        "bid": [ [ "35.0000", "2.00000000" ] ],
        "ask": [ [ "35.5000", "1.00000000" ] ]
      }
    }
    ```

    See [connect to market data web-socket](https://github.com/bullish-exchange/api-examples/blob/master/market_data_web_socket.py) for a sample Python script.

    ### Private Data WebSocket (authenticated)
    - All private data updates are realtime.

    Route
    - `/trading-api/v1/private-data?tradingAccountId=<Id of the Trading Account>`

    | Topic             | Description                                                                                                                         | Data Type           | Subscription Type |
    | :--               | :--                                                                                                                                 | :--                 | :--               |
    | orders            | Provides snapshot and updates on your orders. The snapshot will contain all open orders and the 20 most recent closed orders.       | `V1TAOrder`         | By `<TOPIC>`      |
    | trades            | Provides snapshot and updates on your trades. The snapshot will contain the 20 most recent trades.                                  | `V1TATrade`         | By `<TOPIC>`      |
    | spotAccounts      | (Deprecated) Provides snapshot and updates on assets in your account.                                                               | `V1TASpotAccount`   | By `<TOPIC>`      |
    | assetAccounts     | Provides snapshot and updates on assets in your account.                                                                            | `V1TAAssetAccount`  | By `<TOPIC>`      |
    | tradingAccounts   | Provides snapshot and updates on your trading account summary.                                                                      | `V1TATradingAccount`| By `<TOPIC>`      |

    #### orders response

    | Name               | Type      | Description                                                                                                                             |
    |:-------------------|:----------|:------------------------------------------------------------------------------------------                                              |
    | handle             | String    | unique numeric identifier generated on the client side expressed as a string value                                                      |
    | orderId            | String    | unique order ID                                                                                                                         |
    | symbol             | String    | market symbol                                                                                                                           |
    | price              | String    | price, see [asset value](#overview--price-and-quantity-precision) format                                                                |
    | averageFillPrice   | String    | average fill price, see [asset value](#overview--price-and-quantity-precision) format                                                   |
    | stopPrice          | String    | stop price, see [asset value](#overview--price-and-quantity-precision) format                                                           |
    | margin             | Boolean   | indicates if the order was allowed to borrow (does not indicate that borrowing occurred)                                                |
    | quantity           | String    | quantity, see [asset value](#overview--price-and-quantity-precision) format                                                             |
    | quantityFilled     | String    | quantity filled, see [asset value](#overview--price-and-quantity-precision) format                                                      |
    | baseFee            | String    | base fee, see [asset value](#overview--price-and-quantity-precision) format                                                             |
    | quoteFee           | String    | quote fee, see [asset value](#overview--price-and-quantity-precision) format                                                            |
    | borrowedQuantity   | String    | quantity borrowed, see [asset value](#overview--price-and-quantity-precision) format - BUY order borrows quote, SELL order borrows base |
    | isLiquidation      | Boolean   | indicates if the order was executed as a liquidation order                                                                              |
    | side               | String    | order side                                                                                                                              |
    | type               | String    | order type                                                                                                                              |
    | timeInForce        | String    | time in force                                                                                                                           |
    | status             | String    | order status                                                                                                                            |
    | statusReason       | String    | status reason, describes why the order is in a specific state                                                                           |
    | statusReasonCode   | Integer   | status reason code, see [details](#overview--order-statusreasoncode-map)                                                                |
    | createdAtDatetime  | String    | denotes the time the order was ACK'd by the exchange, ISO 8601 with millisecond as string                                               |
    | createdAtTimestamp | String    | denotes the time the order was ACK'd by the exchange                                                                                    |

    ```json
    {
      "type": "snapshot",
      "dataType": "V1TAOrder",
      "data": [
        {
          "handle": null,
          "orderId": "392883006043848705",
          "symbol": "BTCUSD",
          "price": "66858.2000",
          "averageFillPrice": "66858.2000",
          "stopPrice": null,
          "margin": false,
          "quantity": "2.00000000",
          "quantityFilled": "2.00000000",
          "baseFee": "0.00000000",
          "quoteFee": "0.0005",
          "side": "BUY",
          "borrowedQuantity": "0.0010",
          "isLiquidation": false,
          "type": "LMT",
          "timeInForce": "GTC",
          "status": "CLOSED",
          "statusReason": "Executed",
          "statusReasonCode": 6002,
          "createdAtDatetime": "2021-12-30T07:36:35.918Z",
          "createdAtTimestamp": "1640849795918"
        }
      ]
    }
    ```

    #### trades response

    | Name               | Type      | Description                                                                                  |
    |:-------------------|:----------|:---------------------------------------------------------------------------------------------|
    | tradeId            | String    | unique trade ID                                                                              |
    | orderId            | String    | unique order ID                                                                              |
    | handle             | String    | unique numeric identifier generated on the client side expressed as a string value           |
    | symbol             | String    | market symbol                                                                                |
    | price              | String    | price, see [asset value](#overview--price-and-quantity-precision) format                     |
    | quantity           | String    | quantity, see [asset value](#overview--price-and-quantity-precision) format                  |
    | baseFee            | String    | base fee, see [asset value](#overview--price-and-quantity-precision) format                  |
    | quoteFee           | String    | quote fee, see [asset value](#overview--price-and-quantity-precision) format                 |
    | side               | String    | order side                                                                                   |
    | isTaker            | Boolean   | denotes whether this is a taker's trade                                                      |
    | createdAtDatetime  | String    | denotes the time the trade was executed by the exchange, ISO 8601 with millisecond as string |
    | createdAtTimestamp | String    | denotes the time the trade was executed by the exchange                                      |

    ```json
    {
      "type": "snapshot",
      "dataType": "V1TATrade",
      "data": [
        {
          "tradeId": "100014000000000118",
          "orderId": "392883006043848705",
          "handle": "123456",
          "symbol": "BTCUSD",
          "price": "66858.2000",
          "quantity": "2.00000000",
          "baseFee": "0.00000000",
          "quoteFee": "66.8582",
          "side": "BUY",
          "isTaker": false,
          "createdAtDatetime": "2022-01-10T20:03:43.224Z",
          "createdAtTimestamp": "1641845023224"
        }
      ]
    }
    ```


    #### spotAccounts response
    
    | Name      | Type   | Description                                                                                                                                                                         |  Formula <br> (expressed in `assetAccounts` response fields)        |
    |:----------|:-------|:------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|:--------------------------------------------------------------------|
    | accountId | String | unique spot account ID                                                                                                                                                              |                                                                     |
    | symbol    | String | asset symbol                                                                                                                                                                        |                                                                     |
    | type      | String | type of account                                                                                                                                                                     |                                                                     |
    | total     | String | total is `free` + `used` assets within the account, see [asset value](#overview--price-and-quantity-precision) format                                                               |   =max(0, availableQuantity - borrowedQuantity) + lockedQuantity    |
    | free      | String | refers to the assets that are available to use on the account excluding borrowed assets, see [asset value](#overview--price-and-quantity-precision) format.                         |   =max(0, availableQuantity - borrowedQuantity)                     |
    | used      | String | refers to the assets that are locked in orders, see [asset value](#overview--price-and-quantity-precision) format                                                                   |   =lockedQuantity                                                   |


    ```json
    {
      "type": "snapshot",
      "dataType": "V1TASpotAccount",
      "data": [
        {
          "accountId": "1",
          "type": "spot",
          "symbol": "BTC",
          "total": "4.00000000",
          "free": "4.00000000",
          "used": "0.00000000",
        }
      ]
    }
    ```
    
    #### assetAccounts response
    
    - `V1TAAssetAccount` provides a more granular view of the assets in your trading account compared to `V1TASpotAccount`. 
    
    
    | Name               | Type      | Description                                                                                                                                                                                  |
    |--------------------|-----------|----------------------------------------------------------------------------------------------------------------------------------------------------                                          | 
    | tradingAccountId   | String    | id of the trading account                                                                                                                                                                    |
    | assetId            | String    | asset ID                                                                                                                                                                                     |
    | assetSymbol        | String    | asset symbol                                                                                                                                                                                 |
    | availableQuantity  | String    | the assets that are available to use on the account including borrowed assets, see [asset value](#overview--price-and-quantity-precision) format                                             |
    | borrowedQuantity   | String    | the assets on the account that are borrowed, including interest charged but excluding defaulted amount,  see [asset value](#overview--price-and-quantity-precision) format                   |
    | lockedQuantity     | String    | the assets on the account that are locked in open orders,  see [asset value](#overview--price-and-quantity-precision) format                                                                 |
    | loanedQuantity     | String    | the assets on the account that are in open loan instructions, including interest earned but excluding defaulted amount, see [asset value](#overview--price-and-quantity-precision) format    |
    | updatedAtDatetime  | String    | denotes the time the asset account was updated by the exchange, ISO 8601 with millisecond as string                                                                                          |
    | updatedAtTimestamp | String    | denotes the time the asset account was updated by the exchange                                                                                                                               |
    
    ```json
    {
      "type": "snapshot",
      "dataType": "V1TAAssetAccount",
      "data": [
        {
          "tradingAccountId": "1111",
          "assetId": "1",
          "assetSymbol": "BTC",
          "availableQuantity": "4.00000000",
          "borrowedQuantity": "20.00000000",
          "lockedQuantity": "0.00000000",
          "loanedQuantity": "10.00000000",
          "updatedAtDatetime": "2022-01-10T20:03:43.224Z",
          "updatedAtTimestamp": "1641845023224"
        },
        {
          "tradingAccountId": "1111",
          "assetId": "2",
          "assetSymbol": "USD",
          "availableQuantity": "229016.0734",
          "borrowedQuantity": "20000.0000",
          "lockedQuantity": "0.0000",
          "loanedQuantity": "10000.0000",
          "updatedAtDatetime": "2022-01-10T20:03:43.224Z",
          "updatedAtTimestamp": "1641845023224"
        }
      ]
    }
    ```
    
    #### tradingAccounts response
    
    -  Provides a summary of the total borrowed and total collateral values on the specific trading account ID. 
    `totalBorrowedQuantity` and `totalCollateralQuantity` do not represent the absolute quantity of the borrowed assets and 
    are notional values represented in the reference asset.
    -  `snapshot` contains a list with a single entry corresponding to the trading account ID specified in the `tradingAccountId` 
    query parameter when opening the websocket connection.
    
    | Name                    | Type      | Description                                                                                           |
    |-------------------------|-----------|-------------------------------------------------------------------------------------------------------|
    | tradingAccountId        | String    | id of the trading account                                                                             |
    | totalBorrowedQuantity   | String    | total borrowed across all assets in this trading account displayed in the reference asset             |
    | totalCollateralQuantity | String    | total collateral across all assets in this trading account displayed in the reference asset           |
    | referenceAssetSymbol    | String    | asset symbol                                                                                          |
    | updatedAtDatetime       | String    | denotes the time the trading account was updated by the exchange, ISO 8601 with millisecond as string |
    | updatedAtTimestamp      | String    | denotes the time the trading account was updated by the exchange                                      |
    
    ````json
    {
      "type": "snapshot",
      "dataType": "V1TATradingAccount",
      "data": [
        {
          "tradingAccountId": "1111",
          "totalBorrowedQuantity": "12.0000",
          "totalCollateralQuantity": "13.0000",
          "referenceAssetSymbol": "USD",
          "updatedAtDatetime": "2020-10-01T00:00:00.000Z",
          "updatedAtTimestamp": "1601510400000"
        }
      ]
    }
    ````

    See [connect to private data web-socket](https://github.com/bullish-exchange/api-examples/blob/master/private_data_web_socket.py) for a sample Python script.

    # Quickly Try The API

    To quickly try the API you can use the `TRY` green button which you can find on the bottom right side of each endpoint documentation section, next to `FILL EXAMPLE` and `CLEAR` buttons.

    ## Try The Non-Authenticated Endpoints

    To try the endpoints for which the authentication is not required follow below steps:
    1. Fill in the input parameters, including the request headers
    2. Click the `TRY` green button
    3. Inspect the results

    ## Try The Authenticated Endpoints

    To try the endpoints for which authentication is required follow below steps:
    1. Obtain a [bearer token](#overview--generate-a-jwt-token) using your API key
    2. Set it in the dedicated `api-token` field in the [Authentication](#auth) section
    2. Fill in the input parameters
    2. Click the `TRY` green button
    3. Inspect the results
    
    # API Change Log
    ## 2023 Changes
    - September
      - New HMAC API Keys and HMAC based signing
        - Login API - `GET /v1/users/hmac/login` 
        - BX-SIGNATURE header supports signatures generated via HMAC and EDDSA 
      - New FIX API - The FIX API is available to institutional clients
    - August - New REST API - `GET /history/borrow-interest`
      - New REST API - `Cancel All Open Limit Orders after Delay` - `POST /command?commandType=V1DelayedCancelAllOrders`
      - New REST API -  logout session -  `GET /v1/users/logout` 
    - July - Margin related REST and WS changes
      - `borrowedQuantity` and `isLiquidation` fields added to `GET /orders` and `WS /private-data` orders topic
      - Calculation for `free` and `used` fields changed in `GET /accounts/spot`, `GET /accounts/spot/{symbol}` and `WS /private-data` `spotAccounts` topic
      - New `GET /accounts/asset` and `GET /accounts/asset/{symbol}`
      - New `assetAccounts` and `tradingAccounts` topics in `WS /private-data`
      - `isLending`, `isBorrowing`, `isDefaulted`, `maxInitialLeverage`, `makerFee` and `takerFee` fields added to `GET /accounts/trading-accounts`
      - `collateralRating` and `maxBorrow` fields added to `/assets`
    - May - add V1CancelAllOrdersByMarket to cancel all open orders by trading account id and market
    - April - add V1CancelAllOrders to cancel all open limit orders by trading account id
    - April - add `/accounts/trading-accounts` endpoint to fetch all trading accounts
    - April - new hybrid orderbook WebSocket API with greater depth and aggregation factor
      - Private Data WebSocket [Current API](../v1/#overview--private-data-websocket) `/v1/private-data` -> [New API](../v2/#overview--private-data-websocket) `/v1/private-data?tradingAccountId=111234567890`
      - Get account details [Current API](../v1/#get-/accounts/spot) -> [New API](../v2/#get-/accounts/spot)
      - Get trade details [Current API](../v1/#get-/trades) -> [New API](../v2/#get-/trades)
      - Get AMM Instruction by ID [Current API](../v1/#get-/amm-instructions/-liquidityId-) -> [New API](../v2/#get-/amm-instructions/-liquidityId-)
      - Get AMM instruction details [Current API](../v1/#get-/amm-instructions) -> [New API](../v2/#get-/amm-instructions)
      - Remove AMM instruction [Current API](../v1/#delete-/amm-instructions) -> [New API](../v2/#delete-/amm-instructions)
      - Add AMM instruction [Current API](../v1/#post-/amm-instructions) -> [New API](../v2/#post-/amm-instructions)
      - Get order details [Current API](../v1/#get-/orders) -> [New API](../v2/#get-/orders)
      - Cancel order [Current API](../v1/#delete-/orders) ->   [New API](../v2/#delete-/orders)
      - Create order [Current API](../v1/#post-/orders) ->   [New API](../v2/#post-/orders)
      - Updated REST API:
      - New REST API: [To transfer asset between two trading accounts ](../v2/#post-/command-commandType-V1TransferAsset)
      - New REST API: [To retrieve all the trading account details for current user](../v2/#get-/accounts/trading-accounts) Gets details for all trading accounts accessible by the API key used in the request. Requires [bearer token](#overview--add-authenticated-request-header) in authorization header. The trading account's id will be used in all other REST API
    - March - introduce "trading account Id" to authenticated REST API and websocket
    - March - add custody SIGNET support, remove SEN support
    - March - add unsolicited amend status reason code
    - March - add nonce window to `/orders` to allow out-of-order order requests to be processed
    - March - `/v1/users/login` to be deprecated towards the end of Q2 2023
    - January - add AMM instructions API
    ## 2022 Changes
    - November - deprecate subscription topics in `/private-data` - `events`, `positions` and `marginAccounts`
    - November - deprecate `/accounts/margin`, `/accounts/margin/{symbol}`, `/positions` and `/positions/{symbol}`
    - October - add Custody API
    - August - add anonymous trades WebSocket API
    - July - deprecate WebSocket API `/v1/private` and `/v1/market-data`
    - July - add hybrid orderbook WebSocket API
    - June - add handle field to `GET /trades` and `GET /trades/{tradeId}`
    - June - add handle field to `V1TATrade` for private data WebSocket
    - June - orderbook default depth of `10` - `GET /markets/{symbol}/orderbook/hybrid`
    - May - add `events` topic to private data WebSocket
    - April - add market data WebSocket API
    - April - add private data WebSocket API
    - March - add optional `depth` parameter to `GET /markets/{symbol}/orderbook/hybrid?depth=10`
    - March - add IOC time-in-force order type
    - March - add FOK time-in-force order type
    - March - add order `statusReasonCode` map to API documentation
    - March - add historical anonymous trades API - `GET /history/markets/{symbol}/trades`
    - February - add filter by status=CANCELLED to `GET /orders?status=CANCELLED`
    - January - add pagination support to `GET /markets/{symbol}/candle`

  version: 1.0.0
  title: Bullish Trading API

tags:
  - name: nonce
    x-displayName: Nonce
    description: Non-authenticated API for getting nonce range information
  - name: users
    description: Authenticated APIs for interacting with users
  - name: orders
    description: Authenticated APIs for interacting with orders
  - name: "amm instructions"
    description: |+
      Authenticated APIs that allow users to Create, View and Terminate AMM instructions.
      
      Please refer to the [AMM instruction Overview Doc](https://github.com/bullish-exchange/api-docs/wiki/Automated-Market-Making-%28AMM%29-Instructions) 
      for more details on how AMM instructions work.
  - name: custody
    description: |+
      Authenticated APIs for custody,  [Custody Basic Examples](https://github.com/bullish-exchange/api-examples/blob/master/custody_basics.py)
      
      Custody APIs have a limit of 40 requests per minute combined across all endpoints of type **/wallets/***
  - name: trades
    description: Authenticated APIs for reading trade data
  - name: accounts
    description: Authenticated APIs for reading account data
  - name: time
    description: Non-authenticated API for reading time data
  - name: asset-data
    description: Non-authenticated APIs for accessing general asset data information
  - name: market-data
    description: Non-authenticated APIs for accessing general market data information
  - name: account-model
    x-displayName: SpotAccount Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/SpotAccount"/>
  - name: order-model
    x-displayName: Order Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Order"/>
  - name: create-order-request-model
    x-displayName: Create Order Request Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/CreateOrderRequest"/>
  - name: update-order-quantity-request-model
    x-displayName: Update Order Quantity Request Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/UpdateOrderQuantityRequest"/>
  - name: trade-model
    x-displayName: Trade Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Trade"/>
  - name: obfuscated-trade-model
    x-displayName: Obfuscated Trade Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/ObfuscatedTrade"/>
  - name: market-model
    x-displayName: Market Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Market"/>
  - name: orderbook-model
    x-displayName: Order Book Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderBook"/>
  - name: tick-model
    x-displayName: Tick Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Tick"/>
  - name: ohlcv-candle-model
    x-displayName: OHLCV Candle Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OHLCVCandle"/>
  - name: position-model
    x-displayName: Position Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Position"/>
  - name: spot-account-id
    x-displayName: SpotAccount ID
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/SpotAccountID"/>
  - name: order-id
    x-displayName: Order ID
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderID"/>
  - name: trade-id
    x-displayName: Trade ID
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/TradeID"/>
  - name: market-id
    x-displayName: Market ID
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/MarketID"/>
  - name: timestamp
    x-displayName: Timestamp Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/TimeStamp"/>
  - name: timestamp-as-string
    x-displayName: Timestamp Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/TimeStampAsString"/>
  - name: datetime
    x-displayName: Datetime Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/DateTime"/>
  - name: order-time-in-force
    x-displayName: Order Time In Force
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderTimeInForce"/>
  - name: order-time-in-force-as-string
    x-displayName: Order Time In Force
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderTimeInForceAsString"/>
  - name: order-type
    x-displayName: Order Type
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderType"/>
  - name: order-type-as-string
    x-displayName: Order Type
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderTypeAsString"/>
  - name: order-status
    x-displayName: Order Status
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderStatus"/>
  - name: order-status-as-string
    x-displayName: Order Status
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderStatusAsString"/>
  - name: order-side
    x-displayName: Order Side
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderSide"/>
  - name: order-side-as-string
    x-displayName: Order Side
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderSideAsString"/>
  - name: candle-window
    x-displayName: Candle Window
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/CandleWindow"/>
x-tagGroups:
  - name: Authenticated API
    tags:
      - accounts
      - orders
      - "amm instructions"
      - trades
      - custody
  - name: Non-authenticated API
    tags:
      - market-data
      - asset-data
      - time

paths:
  /nonce:
    get:
      tags:
        - nonce
      summary: Get The Current Nonce Range
      description: |
        Get the current nonce range. The lower bound of nonce range is EPOCH start of day in microseconds, and upper bound of nonce range is EPOCH end of day in microseconds.

        **Ratelimited:** `False`
      operationId: user-get-current-nonce-range
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Nonce'
        401:
          description: Not Authenticated
        403:
          description: Access Forbidden
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
  /trading-api/v1/users/logout:
    get:
      tags:
        - sessions
      summary: Logout
      description: |
        Logout of the session associated with the JWT. It requires [bearer token](#overview--add-authenticated-request-header) in authorization header. 

        **Ratelimited:** `True`
      operationId: logout
      parameters:
        - in: header
          name: Authorization
          description: authorization header, its value must be 'Bearer ' + [token](#overview--generate-a-jwt-token)
          schema:
            $ref: '#/components/headers/Authorization'
          required: true
      responses:
        200:
          description: OK
        401:
          description: Not Authenticated
        403:
          description: Access Forbidden
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      security:
        - jwtTokenAuth: [ ]
  /trading-api/v2/users/login:
    post:
      tags:
        - sessions
      summary: Login
      description: |
        Login and generate a new session associated with a JWT. 

        **Ratelimited:** `True`
      operationId: login
      responses:
        200:
          description:  returns JWT and the `authorizer` for signing requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        400:
          description: Bad Request
        401:
          description: Not Authenticated
        403:
          description: Access Forbidden
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      requestBody:
        description: login request body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
  /trading-api/v1/users/hmac/login:
    post:
      tags:
        - sessions
      summary: HMAC Login
      description: |
        Login and generate a new session associated with a JWT using HMAC. 

        **Ratelimited:** `True`
      operationId: login
      parameters:
        - in: header
          name: BX-SIGNATURE
          description: HMAC signature is a signature resulted from the [signed message of the `login` request](#overview--add-authenticated-request-header)
          schema:
            $ref: '#/components/headers/BX-SIGNATURE'
          required: true
        - in: header
          name: BX-TIMESTAMP
          description: timestamp is the number of milliseconds since EPOCH
          schema:
            $ref: '#/components/headers/BX-TIMESTAMP'
          required: true
        - in: header
          name: BX-NONCE
          description: nonce is a client side incremented unsigned 64 bit integer
          schema:
            $ref: '#/components/headers/BX-NONCE'
          required: true
      responses:
        200:
          description: returns JWT and the `authorizer` for signing requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        400:
          description: Bad Request
        401:
          description: Not Authenticated
        403:
          description: Access Forbidden
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      requestBody:
        description: login request body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
  /accounts/trading-accounts:
    get:
      tags:
        - trading-accounts
      summary: Get all trading Accounts details
      description: |
        Gets details for all trading accounts accessible by the API key used in the request. It requires [bearer token](#overview--add-authenticated-request-header) in authorization header. The trading account's id will be used in all other REST API

        **Ratelimited:** `True`
      operationId: user-get-trading-accounts
      parameters:
        - in: header
          name: Authorization
          description: authorization header, its value must be 'Bearer ' + [token](#overview--generate-a-jwt-token)
          schema:
            $ref: '#/components/headers/Authorization'
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 25
                items:
                  $ref: '#/components/schemas/TradingAccountResponse'
        401:
          description: Not Authenticated
        403:
          description: Access Forbidden
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      security:
        - jwtTokenAuth: [ ]

  /accounts/spot:
    get:
      tags:
        - accounts
      summary: Get Spot Accounts
      description: |
        (Deprecated. Please use the [/accounts/asset](#get-/accounts/asset) endpoint instead)
        
        Gets the spot accounts, requires [bearer token](#overview--add-authenticated-request-header) in authorization header

        **Ratelimited:** `True`
      operationId: user-get-spot-accounts
      parameters:
        - in: header
          name: Authorization
          description: authorization header, its value must be 'Bearer ' + [token](#overview--generate-a-jwt-token)
          schema:
            $ref: '#/components/headers/Authorization'
          required: true
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: '#/components/schemas/TradingAccountId'
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 10
                items:
                  $ref: '#/components/schemas/SpotAccount'
        401:
          description: Not Authenticated
        403:
          description: Access Forbidden
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /accounts/spot/{symbol}:
    get:
      parameters:
        - in: header
          name: Authorization
          description: authorization header, its value must be 'Bearer ' + [token](#overview--generate-a-jwt-token)
          schema:
            $ref: '#/components/headers/Authorization'
          required: true
        - in: path
          name: symbol
          schema:
            $ref: '#/components/schemas/AssetSymbol'
          required: true
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: '#/components/schemas/TradingAccountId'
          required: true
      tags:
        - accounts
      summary: Get Spot Account by Symbol
      description: |
        (Deprecated. Please use the [/accounts/asset/{symbol}](#get-/accounts/asset/-symbol-) endpoint instead)
        
        Gets the spot account by symbol, requires [bearer token](#overview--add-authenticated-request-header) in authorization header

        **Ratelimited:** `True`
      operationId: user-get-spot-account-by-symbol
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotAccount'
        401:
          description: Not Authenticated
        403:
          description: Access Forbidden
        404:
          description: Resource Not Found
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      security:
        - jwtTokenAuth: [ ]
  /accounts/asset:
    get:
      tags:
        - accounts
      summary: Get Asset Accounts
      description: |
        Gets the asset accounts, requires [bearer token](#overview--add-authenticated-request-header) in authorization header

        **Ratelimited:** `True`
      operationId: user-get-asset-accounts
      parameters:
        - in: header
          name: Authorization
          description: authorization header, its value must be 'Bearer ' + [token](#overview--generate-a-jwt-token)
          schema:
            $ref: '#/components/headers/Authorization'
          required: true
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: '#/components/schemas/TradingAccountId'
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 10
                items:
                  $ref: '#/components/schemas/AssetAccount'
        401:
          description: Not Authenticated
        403:
          description: Access Forbidden
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      security:
        - jwtTokenAuth: [ ]
  /accounts/asset/{symbol}:
    get:
      parameters:
        - in: header
          name: Authorization
          description: authorization header, its value must be 'Bearer ' + [token](#overview--generate-a-jwt-token)
          schema:
            $ref: '#/components/headers/Authorization'
          required: true
        - in: path
          name: symbol
          schema:
            $ref: '#/components/schemas/AssetSymbol'
          required: true
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: '#/components/schemas/TradingAccountId'
          required: true
      tags:
        - accounts
      summary: Get Asset Account by Symbol
      description: |
        Gets the asset account by symbol, requires [bearer token](#overview--add-authenticated-request-header) in authorization header

        **Ratelimited:** `True`
      operationId: user-get-asset-account-by-symbol
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetAccount'
        401:
          description: Not Authenticated
        403:
          description: Access Forbidden
        404:
          description: Resource Not Found
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      security:
        - jwtTokenAuth: [ ]
  /orders:
    get:
      tags:
        - orders
      summary: Get Orders
      description: |
        Gets the orders list based on specified filters.
        - requires [bearer token](#overview--add-authenticated-request-header) in authorization header
        - [supports pagination](#overview--pagination-support)
        - supports filtering on `symbol`, `handle`, `side`, `status`, `createdAtDatetime`, `createdAtTimestamp`

        **Ratelimited:** `True`
      operationId: trade-get-orders
      parameters:
        - in: header
          name: Authorization
          description: authorization header, its value must be 'Bearer ' + [token](#overview--generate-a-jwt-token)
          schema:
            $ref: '#/components/headers/Authorization'
          required: true
        - in: query
          name: symbol
          schema:
            $ref: '#/components/schemas/MarketSymbol'
          required: false
        - in: query
          name: handle
          description: Unique numeric identifier generated on the client side expressed as a string value
          schema:
            $ref: '#/components/schemas/OrderHandle'
          required: false
        - in: query
          name: side
          description: order side
          schema:
            $ref: '#/components/schemas/OrderSide'
          required: false
        - in: query
          name: status
          description: order status
          schema:
            $ref: '#/components/schemas/OrderStatus'
          required: false
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: '#/components/schemas/TradingAccountId'
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 10
                items:
                  $ref: '#/components/schemas/Order'
        401:
          description: Not Authenticated
        403:
          description: Access Forbidden
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
    post:
      tags:
        - orders
      summary: Create Order
      description: |
        Creates an order, requires [bearer token](#overview--add-authenticated-request-header) in authorization header.
        
        Requires strict field ordering in the request body.

        [Command Example](#overview--create-spot-or-margin-order-example)

        **Ratelimited:** `True`
      operationId: trade-create-order
      parameters:
        - in: header
          name: Authorization
          description: authorization header, its value must be 'Bearer ' + [token](#overview--generate-a-jwt-token)
          schema:
            $ref: '#/components/headers/Authorization'
          required: true
        - in: header
          name: BX-SIGNATURE
          description: command signature is a signature resulted from the [signed message of the `<COMMAND>`](#overview--construct-the-bx-signature-header)
          schema:
            $ref: '#/components/headers/BX-SIGNATURE'
          required: true
        - in: header
          name: BX-TIMESTAMP
          description: command timestamp is the number of milliseconds since EPOCH
          schema:
            $ref: '#/components/headers/BX-TIMESTAMP'
          required: true
        - in: header
          name: BX-NONCE
          description: command nonce is a client side incremented unsigned 64 bit integer
          schema:
            $ref: '#/components/headers/BX-NONCE'
          required: true
        - in: header
          name: BX-NONCE-WINDOW-ENABLED
          description:
            $ref: '#/components/headers/BX-NONCE-WINDOW-ENABLED/description'
          schema:
            $ref: '#/components/headers/BX-NONCE-WINDOW-ENABLED'
          required: false
        - in: query
          name: test
          description: to validate integration with the `POST /orders` API pass the query parameter `test=true` e.g. `/orders?test=true`. The request will be validated but not executed.
          schema:
            $ref: '#/components/schemas/Boolean'
          required: false
      responses:
        200:
          description: Status OK. This means an create order command was successfully acknowledged. It does not necessarily mean the order was created. To check the current status of the order, query [Get Order by ID](#get-/orders/-orderId-) using the `orderId` received in the response payload. Also consult the section [How To Ensure The Order Of *Create Order* or *Cancel Order* Requests](#overview--how-to-ensure-the-order-of-create-order-or-cancel-order-requests).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
        400:
          description: |+
            Bad Request

            For example, sending a request with the `BX-SIGNATURE` header missing will result in the following response:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadOrderEntryResponse'
        401:
          description: Not Authenticated
        403:
          description: Access Forbidden
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      requestBody:
        description: new order request body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      security:
        - jwtTokenAuth: [ ]
    delete:
      tags:
        - orders
      summary: Cancel Order
      description: |
        Cancels an order, requires [bearer token](#overview--add-authenticated-request-header) in authorization header.
        
        Requires strict field ordering in the JSON request payload.
        
        Please use either the `handle` or `orderId` field in the query parameters.

        [Command example](#overview--cancel-spot-or-margin-order-example)

        **Ratelimited:** `True`
      operationId: trade-cancel-order
      parameters:
        - in: header
          name: Authorization
          description: authorization header, its value must be 'Bearer ' + [token](#overview--generate-a-jwt-token)
          schema:
            $ref: '#/components/headers/Authorization'
          required: true
        - in: header
          name: BX-SIGNATURE
          description: command signature is a signature resulted from the [signed message of the `<COMMAND>`](#overview--construct-the-bx-signature-header)
          schema:
            $ref: '#/components/headers/BX-SIGNATURE'
          required: true
        - in: header
          name: BX-TIMESTAMP
          description: command timestamp is the number of milliseconds since EPOCH
          schema:
            $ref: '#/components/headers/BX-TIMESTAMP'
          required: true
        - in: header
          name: BX-NONCE
          description: command nonce is a client side incremented unsigned 64 bit integer
          schema:
            $ref: '#/components/headers/BX-NONCE'
          required: true
        - in: header
          name: BX-NONCE-WINDOW-ENABLED
          description:
            $ref: '#/components/headers/BX-NONCE-WINDOW-ENABLED/description'
          schema:
            $ref: '#/components/headers/BX-NONCE-WINDOW-ENABLED'
          required: false
        - in: query
          name: symbol
          schema:
            $ref: '#/components/schemas/MarketSymbol'
          required: true
        - in: query
          name: handle
          description: Unique numeric identifier generated on the client side expressed as a string value
          schema:
            $ref: '#/components/schemas/OrderHandle'
          required: false
        - in: query
          name: orderId
          description: unique order ID
          schema:
            $ref: '#/components/schemas/OrderID'
          required: false
        - in: query
          name: test
          description: to validate integration with the `DELETE /orders` API pass the query parameter `test=true` e.g. `/orders?test=true`. The request will be validated but not executed.
          schema:
            $ref: '#/components/schemas/Boolean'
          required: false
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: '#/components/schemas/TradingAccountId'
          required: true
      responses:
        204:
          description: Status OK. This means an cancel order command was successfully acknowledged. It does not necessarily mean the order was cancelled. To check the current status of the order, query [Get Order by ID](#get-/orders/-orderId-) using the `orderId`. Also consult the section [How To Ensure The Order Of *Create Order* or *Cancel Order* Requests](#overview--how-to-ensure-the-order-of-create-order-or-cancel-order-requests).
        401:
          description: Not Authenticated
        403:
          description: Access Forbidden
        404:
          description: Resource Not Found
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /orders/{orderId}:
    parameters:
      - in: path
        name: orderId
        schema:
          type: number
        required: true
        description: order ID
    get:
      tags:
        - orders
      summary: Get Order by ID
      description: |
        Gets an order by ID, requires [bearer token](#overview--add-authenticated-request-header) in authorization header

        **Ratelimited:** `True`
      operationId: trade-get-order-by-id
      parameters:
        - in: header
          name: Authorization
          description: authorization header, its value must be 'Bearer ' + [token](#overview--generate-a-jwt-token)
          schema:
            $ref: '#/components/headers/Authorization'
          required: true
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: '#/components/schemas/TradingAccountId'
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        401:
          description: Not Authenticated
        403:
          description: Access Forbidden
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      security:
        - jwtTokenAuth: []

  /command?commandType=V1CancelAllOrders:
    post:
      tags:
        - orders
      summary: Cancel All Open Limit Orders
      description: |
        Cancels all open limit orders
        
        Requires
        - strict field ordering in the JSON request payload.
        - [bearer token](#overview--add-authenticated-request-header) in authorization header

        **Ratelimited:** `True`
      operationId: trade-cancel-all-open-limit-orders
      parameters:
        - in: header
          name: Authorization
          description: authorization header, its value must be 'Bearer ' + [token](#overview--generate-a-jwt-token)
          schema:
            $ref: '#/components/headers/Authorization'
          required: true
      responses:
        200:
          description: Status OK. This means a cancel all open limit orders command was successfully acknowledged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAllOrdersResponse'
        400:
          description: |+
            Bad Request

            For example, sending a request with the `BX-SIGNATURE` header missing will result in the following response:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadOrderEntryResponse'
        401:
          description: Not Authenticated
        403:
          description: Access Forbidden
        429:
          description: Too Many Requests
        500:
          description: Internal Server Error
      requestBody:
        description: Cancel All Open Limit Orders request body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAllOrdersRequest'

      security:
        - jwtTokenAuth: [ ]

  /command?commandType=V1CancelAllOrdersByMarket:
    post:
      tags:
        - orders
      summary: Cancel All Open Limit Orders By Market
      description: |
        Cancels all open orders by market
        
        Requires
        - strict field ordering in the JSON request payload.
        - [bearer token](#overview--add-authenticated-request-header) in authorization header
        
        **Ratelimited:** `True`
      operationId: trade-cancel-all-open-limit-orders-by-market
      parameters:
        - in: header
          name: Authorization
          description: authorization header, its value must be 'Bearer ' + [token](#overview--generate-a-jwt-token)
          schema:
            $ref: '#/components/headers/Authorization'
          required: true
      responses:
        200:
          description: Status OK. This means a cancel all Open Limit orders by market command was successfully acknowledged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAllOrdersByMarketResponse'
        400:
          description: |+
            Bad Request
            
[...]
